<section class="about">
    <div class="about__top">
        <div class="subservice-detail__top-inner">
            <div class="breadcrumbs">
                <a href="#">
                    Главная
                </a>

            </div>
            <h1 class="subservice-detail__heading">
                О нас
            </h1>
            <ul class="about__tags-list">
                <li class="about__tags-list-item">
                    <a href="#" class="about__tags-link active">
                        Об агентстве
                    </a>
                </li>
                <li class="about__tags-list-item">
                    <a href="#" class="about__tags-link">
                        Сотрудничество
                    </a>
                </li>
                <li class="about__tags-list-item">
                    <a href="#" class="about__tags-link">
                        Наши партнеры
                    </a>
                </li>
                <li class="about__tags-list-item">
                    <a href="#" class="about__tags-link">
                        Документы
                    </a>
                </li>
                <li class="about__tags-list-item">
                    <a href="#" class="about__tags-link">
                        Вакансии
                    </a>
                </li>
                <li class="about__tags-list-item">
                    <a href="#" class="about__tags-link">
                        Деятельность в области информационных технологий
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="about__bottom">
        <div class="about__bottom-inner">
            <div class="about__agency">
                <h2 class="about__agency-heading">
                    Об агентстве
                </h2>
                <div class="about__agency-row">
                    <div class="about__agency-text">
                        <p>
                            Юридическое Агентство «АргументЪ» на сегодняшний день входит в пятерку лидирующих
                            юридических практик Республики Татарстан, имея за своими плечами огромный опыт.
                        </p>
                        <p>
                            Команда компании, во главе с руководителем — Аношкиной Еленой Викторовной включает в себя
                            профессионалов, практикующих с 1999 года.
                        </p>
                        <p>
                            На сегодняшний день сотрудники компании — это узкопрофильные дипломированные специалисты в
                            области юриспруденции. При этом, решение поставленных задач осуществляется путем
                            комплексного подхода всей командой.
                        </p>
                    </div>
                    <a href="https://www.youtube.com/watch?v=MdvzlDIdQ0o&ab_channel=CosdenSolutions"
                        class="about__video" data-fancybox="">
                        <img src="/images/video-preview.webp" alt="" class="about__video-preview">
                        <div class="about__video-play">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#large-play"></use>
                            </svg>
                        </div>
                    </a>
                </div>
            </div>
            <div class="about__numbers">
                <ul class="about__numbers-list">
                    <li class="about__numbers-list-item">
                        <div class="about__numbers-card">
                            <div class="about__numbers-card-image-wrapper">
                                <img src="/images/about-numbers/1.svg" alt="" class="about__numbers-card-image">
                            </div>
                            <div class="about__numbers-card-amount">
                                19 лет
                            </div>
                            <div class="about__numbers-card-text">
                                Опыт наших сотрудников в области юриспруденции.
                            </div>
                        </div>
                    </li>
                    <li class="about__numbers-list-item">
                        <div class="about__numbers-card">
                            <div class="about__numbers-card-image-wrapper">
                                <img src="/images/about-numbers/2.svg" alt="" class="about__numbers-card-image">
                            </div>
                            <div class="about__numbers-card-amount">
                                30+
                            </div>
                            <div class="about__numbers-card-text">
                                Оказываемых услуг
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="about__principles">
                <h2 class="about__principles-heading">
                    Наши принципы
                </h2>
                <div class="about__principles-row">
                    <ul class="about__principles-logos-list">
                        <li class="about__principles-logos-list-item">
                            <div class="about__principles-logos-card">
                                <img src="/images/about-principles/1.webp" alt=""
                                    class="about__principles-logos-card-image">
                            </div>
                        </li>
                        <li class="about__principles-logos-list-item">
                            <div class="about__principles-logos-card">
                                <img src="/images/about-principles/2.svg" alt=""
                                    class="about__principles-logos-card-image">
                            </div>
                        </li>
                    </ul>
                    <div class="about__principles-text">
                        <p>
                            Решение поставленных задач осуществляется путем комплексного подхода всей командой.
                        </p>
                        <p>
                            Разрешение споров было главным направлением бизнеса Юридического Агентства «АргументЪ» с
                            момента основания, и исключительно сильными компетенциями обладает судебная практика.
                            Углубляясь и расширяясь, вокруг нее в дальнейшем сформировались практики недвижимости,
                            банкротства, корпоративная и другие.
                        </p>
                        <p>
                            Как правило, проекты по разрешению споров — составная часть более крупных, очень масштабных
                            и сложных историй, в том числе связанных со слияниями и поглощениями, корпоративными
                            конфликтами, коммерческими спорами.
                        </p>
                    </div>
                </div>
            </div>
            <div class="cases-detail__services">
                <div class="cases-detail__services-top-row">
                    <h3 class="cases-detail__services-heading">
                        Более 30 услуг
                    </h3>
                    <a href="#" class="cases-detail__services-more">
                        Все
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#more-arrow"></use>
                        </svg>
                    </a>
                </div>
                <div class="cases-detail__services-list-wrapper">
                    <ul class="cases-detail__services-list">
                        <li class="cases-detail__services-list-item">
                            <a href="#" class="cases-detail__services-card">
                                Банкротство
                            </a>
                        </li>
                        <li class="cases-detail__services-list-item">
                            <a href="#" class="cases-detail__services-card">
                                Арбитражный процесс
                            </a>
                        </li>
                        <li class="cases-detail__services-list-item">

                            <a href="#" class="cases-detail__services-card">
                                Трудовое право
                            </a>
                        </li>
                        <li class="cases-detail__services-list-item">

                            <a href="#" class="cases-detail__services-card">
                                Корпоративное право
                            </a>
                        </li>
                        <li class="cases-detail__services-list-item">


                            <a href="#" class="cases-detail__services-card">
                                Налоговое консультирование и налоговые споры
                            </a>
                        </li>
                        <li class="cases-detail__services-list-item">
                            <div class="cases-detail__services-card">
                                Уголовно-правовая защита бизнеса
                            </div>
                        </li>
                        <li class="cases-detail__services-list-item">
                            <div class="cases-detail__services-card">
                                Претензионная стадия, досудебное урегулирование
                            </div>
                        </li>
                        <li class="cases-detail__services-list-item">
                            <div class="cases-detail__services-card">
                                Антимонопольное регулирование
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="about__competencies">
                <h2 class="about__competencies-heading">
                    Региональные компетенции
                </h2>
                <div class="about__competencies-row">
                    <div class="about__competencies-map-wrapper">
                        <img src="/images/about-map.webp" alt="" class="about__competencies-map">
                    </div>
                    <div class="about__competencies-text-content">
                        <div class="about__competencies-text">
                            «Фирменный стиль» Юридического агентства «АргументЪ» — системный и комплексный подход к
                            решению задач и предотвращению проблем. Такой подход дает уверенность в безопасности,
                            юридической неуязвимости бизнеса на стратегическую перспективу. Поэтому клиенты рекомендуют
                            нас другим собственникам и руководителям.
                        </div>
                        <ul class="about__competencies-list">
                            <li class="about__competencies-list-item">
                                <div class="about__competencies-card">
                                    <div class="about__competencies-card-amount">
                                        17
                                    </div>
                                    <div class="about__competencies-card-text">
                                        Регионов
                                    </div>
                                </div>
                            </li>
                            <li class="about__competencies-list-item">
                                <div class="about__competencies-card about__competencies-card--with-planet">
                                    <div class="about__competencies-card-amount">
                                        78
                                    </div>
                                    <div class="about__competencies-card-text">
                                        Городов
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="subservice-detail__partners">
                <div class="subservice-detail__partners-top-row">
                    <h2 class="subservice-detail__partners-heading">
                        Наши партнеры
                    </h2>

                    <a href="#" class="subservice-detail__partners-link">
                        Все
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#more-arrow"></use>
                        </svg>
                    </a>
                </div>
                <div class="subservice-detail__partners-slider">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="subservice-detail__partners-slider-card">
                                    <img src="/images/partners/1.webp" alt=""
                                        class="subservice-detail__partners-slider-card-image">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="subservice-detail__partners-slider-card">
                                    <img src="/images/partners/2.webp" alt=""
                                        class="subservice-detail__partners-slider-card-image">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="subservice-detail__partners-slider-card">
                                    <img src="/images/partners/3.webp" alt=""
                                        class="subservice-detail__partners-slider-card-image">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="subservice-detail__partners-slider-card">
                                    <img src="/images/partners/4.webp" alt=""
                                        class="subservice-detail__partners-slider-card-image">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="subservice-detail__partners-slider-card">
                                    <img src="/images/partners/5.webp" alt=""
                                        class="subservice-detail__partners-slider-card-image">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="subservice-detail__partners-slider-card">
                                    <img src="/images/partners/6.webp" alt=""
                                        class="subservice-detail__partners-slider-card-image">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="subservice-detail__partners-slider-card">
                                    <img src="/images/partners/7.webp" alt=""
                                        class="subservice-detail__partners-slider-card-image">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="subservice-detail__partners-slider-card">
                                    <img src="/images/partners/1.webp" alt=""
                                        class="subservice-detail__partners-slider-card-image">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="subservice-detail__partners-slider-card">
                                    <img src="/images/partners/2.webp" alt=""
                                        class="subservice-detail__partners-slider-card-image">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="subservice-detail__partners-slider-card">
                                    <img src="/images/partners/3.webp" alt=""
                                        class="subservice-detail__partners-slider-card-image">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="subservice-detail__partners-slider-card">
                                    <img src="/images/partners/4.webp" alt=""
                                        class="subservice-detail__partners-slider-card-image">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="subservice-detail__partners-slider-card">
                                    <img src="/images/partners/5.webp" alt=""
                                        class="subservice-detail__partners-slider-card-image">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="subservice-detail__partners-slider-card">
                                    <img src="/images/partners/6.webp" alt=""
                                        class="subservice-detail__partners-slider-card-image">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="subservice-detail__partners-slider-card">
                                    <img src="/images/partners/7.webp" alt=""
                                        class="subservice-detail__partners-slider-card-image">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="subservice-detail__partners-bottom-row">
                    <div class="subservice-detail__partners-pagination">

                    </div>
                    <div class="subservice-detail__partners-arrows">
                        <button
                            class="subservice-detail__partners-arrows-btn subservice-detail__partners-arrows-btn--prev"
                            type="button">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#arrow-left"></use>
                            </svg>
                        </button>
                        <button
                            class="subservice-detail__partners-arrows-btn subservice-detail__partners-arrows-btn--next"
                            type="button">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>

            <div class="cases__content about__members">
                <div class="cases__top-row">
                    <h2 class="cases__heading">
                        Команда
                    </h2>
                    <a href="#" class="cases__link">
                        Все
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#more-arrow"></use>
                        </svg>
                    </a>
                </div>
                <div class="cases__slider">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="about__member-card">
                                    <div class="about__member-card-image-container">
                                        <img src="/images/about-member.webp" alt="" class="about__member-card-image">
                                    </div>
                                    <h3 class="about__member-card-title">
                                        Елена Аношкина
                                    </h3>
                                    <div class="about__member-card-role">
                                        Руководитель
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="about__member-card">
                                    <div class="about__member-card-image-container">
                                        <img src="/images/about-member.webp" alt="" class="about__member-card-image">
                                    </div>
                                    <h3 class="about__member-card-title">
                                        Александра Коробкова-Землянская
                                    </h3>
                                    <div class="about__member-card-role">
                                        Юрист
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="about__member-card">
                                    <div class="about__member-card-image-container">
                                        <img src="/images/about-member.webp" alt="" class="about__member-card-image">
                                    </div>
                                    <h3 class="about__member-card-title">
                                        Валерия Новикова
                                    </h3>
                                    <div class="about__member-card-role">
                                        Юрист
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="about__member-card">
                                    <div class="about__member-card-image-container">
                                        <img src="/images/about-member.webp" alt="" class="about__member-card-image">
                                    </div>
                                    <h3 class="about__member-card-title">
                                        Елена Аношкина
                                    </h3>
                                    <div class="about__member-card-role">
                                        Руководитель
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="about__member-card">
                                    <div class="about__member-card-image-container">
                                        <img src="/images/about-member.webp" alt="" class="about__member-card-image">
                                    </div>
                                    <h3 class="about__member-card-title">
                                        Александра Коробкова-Землянская
                                    </h3>
                                    <div class="about__member-card-role">
                                        Юрист
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="about__member-card">
                                    <div class="about__member-card-image-container">
                                        <img src="/images/about-member.webp" alt="" class="about__member-card-image">
                                    </div>
                                    <h3 class="about__member-card-title">
                                        Валерия Новикова
                                    </h3>
                                    <div class="about__member-card-role">
                                        Юрист
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="cases__bottom-row">
                    <div class="cases__pagination cases__pagination--dark">

                    </div>
                    <div class="cases__arrows cases__arrows--dark">
                        <button class="cases__arrows-btn cases__arrows-btn--prev" type="button">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#arrow-left"></use>
                            </svg>
                        </button>
                        <button class="cases__arrows-btn cases__arrows-btn--next" type="button">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>