<section class="article-detail">
    <div class="article-detail__top">
        <div class="article-detail__top-inner">
            <div class="breadcrumbs">
                <a href="#">
                    Главная
                </a>
                <a href="#">
                    Новости и статьи
                </a>
                <a href="#">
                    Полезные статьи
                </a>
            </div>
            <h1 class="article-detail__heading">
                Банкротство коммерческих организаций
            </h1>
        </div>
    </div>
    <div class="article-detail__bottom">
        <div class="article-detail__bottom-inner">
            <div class="article-detail__layout">
                <div class="article-detail__main">
                    <div class="article-detail__text-content">
                        <p>
                            Банкротство предполагает полное прекращение деятельности коммерческих организаций,
                            признанных нерентабельными в связи с утратой платежеспособности. Выявление факта
                            несостоятельности лиц, приравненных к юридическому статусу, регламентируется положениями ФЗ
                            № 127 «О несостоятельности (банкротстве)». Несостоятельность организации, осуществляющей
                            деятельность на коммерческой основе, может быть обусловлена несвоевременным внесением
                            платежей за полученную продукцию, наличием задолженностей по кредитным платежам, налоговым,
                            иным видам государственных сборов. Статус официального банкрота может быть присвоен компании
                            только в соответствии с процессуальным правовым актом, вынесенным судебной инстанцией.
                        </p>
                        <img src="/images/article-detail.webp" alt="">
                        <h3>
                            Признаки банкротства коммерческих организаций
                        </h3>
                        <p>
                            Признаки банкротства или несостоятельности представляют собой ряд критериев, наличие которых
                            позволяет уполномоченным лицам инициировать процесс признания организации банкротом.
                            Основными из них являются:
                        </p>
                        <ul>
                            <li>
                                Общая продолжительность периода просроченных обязательств финансового характера
                                составляет от трех месяцев и более
                            </li>
                            <li>
                                Общий объем суммы задолженности равен 100 000 рублей или превышает указанный показатель
                            </li>
                        </ul>
                        <p>
                            Непосредственно процесс признания предприятия банкротством может быть инициирован только при
                            наличии приведенных выше признаков путем подачи искового заявления в Арбитражный суд.
                        </p>
                        <h3>
                            Причины несостоятельности
                        </h3>
                        <p>
                            Деятельность отдельных коммерческих организаций может носить различный характер,
                            соответственно, и причины финансовой несостоятельности могут быть разнообразными. К примеру,
                            негативно отразиться на деятельности предприятия может ухудшение экономического положения
                            страны, на территории которой расположена организация. В зависимости от особенностей
                            факторов, причины несостоятельности компании подразделяются на два основных вида: внутренние
                            и внешние.
                        </p>
                        <h3>
                            Внутренние
                        </h3>
                        <p>
                            К числу внутренних причин преимущественно относят те, которые образовались по причине
                            нерациональных действий лиц, уполномоченных осуществлять руководство деятельности компании.
                            В их числе:
                        </p>
                        <ul>
                            <li>
                                Неверные расчеты в ходе ведения кредитной политики организации
                            </li>
                            <li>
                                Нерациональное применение и направление финансовых активов, принадлежащих организации
                            </li>
                            <li>
                                Принятие нерациональных и ошибочных решений в ходе выполнения производственной или
                                финансовой работы в рамках предприятия
                            </li>
                            <li>
                                Также к числу факторов можно отнести человеческий фактор, выраженный в халатности
                                руководящих лиц, низкого уровня их профессионализма, отсутствие специализированных
                                навыков, необходимых для управления компанией
                            </li>
                        </ul>
                        <p>
                            Негативное влияние внутренних факторов приводит к возникновению необходимости оформления
                            кредитных сумм, снижению уровня оборота товара, а также иным аспектам, которые в результате
                            воздействия становятся причиной несостоятельности компании.
                        </p>
                        <h3>
                            Внешние
                        </h3>
                        <p>
                            В числе внешних причин называют факторы, являющиеся не нарушениями со стороны руководства
                            предприятия, а результатом общего экономического положения в стране или регионе. К их числу
                            относят следующие:
                        </p>
                        <ul>
                            <li>
                                Кризис политического характера
                            </li>
                            <li>
                                Экономический кризис в рамках определенного государства или имеющий мировые масштабы
                            </li>
                            <li>
                                Низкая эффективность деятельности антимонопольного госкомитета, результатом которой
                                становится рост количества конкурентоспособных предприятий
                            </li>
                        </ul>
                        <p>
                            Воздействие экономических факторов может привести к ряду таких последствий, как увеличение
                            стоимости сырья или продукции, используемой в рамках деятельности предприятия. Указанные
                            факторы приводят к тому, что предприятие начинает работать в убыток себе, утрачивая
                            возможность своевременно погашать платежи ввиду нехватки денежных средств.
                        </p>
                        <h3>
                            Заявление о банкротстве
                        </h3>
                        <p>
                            Основанием для инициации процедуры банкротства коммерческого предприятия является обращение
                            руководства компании или иных заинтересованных и уполномоченных на ведение данного процесса
                            лиц в Арбитражный суд посредством подачи искового заявления. При подаче указанного заявления
                            требуется указание причин, способствовавших несостоятельности коммерческой организации.
                            Также важно указание сумм задолженностей и приведение перечня заимодавцев.
                        </p>
                        <p>
                            При подаче иска руководство компании наделяется правом самостоятельного выбора временного
                            финансового управляющего. В случае, если соответствующее ходатайство отсутствует, суд вправе
                            сделать выбор самостоятельно. При составлении заявления важным является правильное
                            оформление документа. Нарушение правил оформления может привести к вынесению судом неверного
                            решения или отказу в принятии заявления к производству.
                        </p>
                        <h3>
                            Процедура банкротства коммерческих организаций
                        </h3>
                        <p>
                            Процедура банкротства предприятий, действующих на коммерческой основе, представляет собой
                            длительный и крайне сложный процесс, подчиненный установленному нормами Законодательства
                            алгоритму. Она включает несколько основных этапов, в рамках каждого из которых допускается
                            применение действий, направленных на восстановление финансовой состоятельности организации и
                            прекращение процедуры банкротства.
                        </p>
                        <h3>
                            Наблюдение
                        </h3>
                        <p>
                            Период наблюдения длится в течение семи месяцев, и представляет собой подготовку к
                            последующим этапам процедуры банкротства. В рамках наблюдения производятся такие процедуры,
                            как составление перечня заимодавцев предприятия, определение суммы имеющейся задолженности,
                            создание списка имущественных и денежных активов организации, если таковые имеются. На
                            протяжении указанного периода финансовым управляющим предпринимаются меры, направленные на
                            восстановление финансовой платежеспособности предприятия. После его завершения
                            уполномоченное лицо обязано предоставить суду отчет о проведенной работе.
                        </p>
                        <h3>
                            Финансовое оздоровление
                        </h3>
                        <p>
                            Процедура финансового оздоровления инициируется на основании судебного решения. В рамках
                            этого этапа уполномоченные лица вправе проводить процедуры, которые могут восстановить
                            финансовую состоятельность компании и выплатить имеющиеся суммы задолженности. В рамках
                            финансового оздоровления могут быть проведены различные мероприятия, в числе которых, к
                            примеру, реорганизация компании.
                        </p>
                        <h3>
                            Внешнее управление
                        </h3>
                        <p>
                            Период внешнего управления подразумевает передачу руководством компании собственных
                            полномочий стороннему лицу, в данном случае – финансовому управляющему, назначение которого
                            осуществляется посредством судебного решения. Основной задачей специалиста является
                            погашение имеющихся у компании задолженностей. Для указанной цели финансовый управляющий
                            может использовать имущественные и денежные активы предприятия. Процедуры, направленные на
                            восстановление финансовой состоятельности в рамках данного этапа не предусмотрены.
                        </p>
                        <p>
                            Общая продолжительность этапа внешнего управления составляет один год. Однако при наличии
                            веских оснований судебный орган вправе увеличить его продолжительность на определенный срок.
                            После завершения этапа финансовый управляющий должен составить отчет в рамках проведенной им
                            работы, направленное н обеспечение долговых обязательств.
                        </p>
                        <h3>
                            Ликвидация
                        </h3>
                        <p>
                            Завершающим этапом судебного производства, инициированного в рамках признания коммерческой
                            организации финансовой несостоятельным, является ликвидация организации. Закрытие
                            предприятия осуществляется только в том случае, если предпринятые в рамках предыдущих этапов
                            меры не позволили восстановить платежеспособность и финансовую состоятельность юридического
                            лица.
                        </p>
                        <p>
                            В рамках указанного этапа проводятся такие процедуры, как освобождение руководящих лиц от
                            занимаемых ими должностей, увольнение рядовых сотрудников, если таковые числились в штате на
                            момент периода ликвидации. Также составляется полный перечень имущественных активов
                            предприятия, последующая реализация которых позволит полностью выплатить имеющиеся у
                            компании долги.
                        </p>
                        <p>
                            В рамках проведения каких-либо действий финансовый управляющий обязан согласовать свои
                            действия, к примеру, направленные на реализацию имущественных активов, с представителями
                            кредиторов. Нарушение данного правила влечет наложение ответственности на уполномоченное
                            лицо. После завершения всех процедур управляющий также составляет отчет о проведенных
                            действиях. Организация признается полностью ликвидированной только после внесения
                            соответствующей отметки в Единый государственный реестр.
                        </p>
                    </div>
                    <div class="article-detail__bottom-wrapper">
                        <div class="article-detail__date">
                            22 сентября 2020
                        </div>
                        <ul class="article-detail__sharing-list">
                            <li class="article-detail__sharing-list-item">
                                <a href="#" class="article-detail__sharing-link">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#sharing-telegram"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="article-detail__sharing-list-item">
                                <a href="#" class="article-detail__sharing-link">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#sharing-x"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="article-detail__sharing-list-item">
                                <a href="#" class="article-detail__sharing-link">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#sharing-vk"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="article-detail__sharing-list-item">
                                <a href="#" class="article-detail__sharing-link">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#sharing-whatsapp"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="article-detail__sharing-list-item">
                                <a href="#" class="article-detail__sharing-link">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#sharing-ok"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="article-detail__sidebar">
                    <div class="article-detail__contents">
                        <h3 class="article-detail__contents-heading">
                            Содержание
                        </h3>

                        <ol class="article-detail__contents-list">
                            <li class="article-detail__contents-list-item">
                                Признаки банкротства коммерческих организаций
                            </li>
                            <li class="article-detail__contents-list-item">
                                Причины несостоятельности
                            </li>
                            <li class="article-detail__contents-list-item">
                                Внутренние
                            </li>
                            <li class="article-detail__contents-list-item">
                                Внешние
                            </li>
                            <li class="article-detail__contents-list-item">
                                Заявление о банкротстве
                            </li>
                            <li class="article-detail__contents-list-item">
                                Процедура банкротства коммерческих организаций
                            </li>
                            <li class="article-detail__contents-list-item">
                                Наблюдение
                            </li>
                            <li class="article-detail__contents-list-item">
                                Финансовое оздоровление
                            </li>
                            <li class="article-detail__contents-list-item">
                                Внешнее управление
                            </li>
                            <li class="article-detail__contents-list-item">
                                Ликвидация
                            </li>
                        </ol>
                    </div>

                    <div class="article-detail__sidebar">
                        <div class="article-detail__other-slider js-article-detail-slider">
                            <h3 class="article-detail__other-slider-heading">
                                Похожие статьи
                            </h3>
                            <div class="article-detail__other-slider-arrows">
                                <button
                                    class="article-detail__other-slider-arrow article-detail__other-slider-arrow--prev">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-left"></use>
                                    </svg>
                                </button>
                                <button
                                    class="article-detail__other-slider-arrow article-detail__other-slider-arrow--next">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </button>
                            </div>
                            <a href="#" class="article-detail__other-slider-more-link">
                                Все
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#more-arrow"></use>
                                </svg>
                            </a>
                            <div class="article-detail__other-slider-pagination">

                            </div>
                            <div class="article-detail__other-slider-wrapper">


                                <div class="swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <a href="#" class="articles__card">
                                                <div class="articles__card-image-container">
                                                    <img src="/images/articles/1.webp" alt=""
                                                        class="articles__card-image">
                                                </div>
                                                <h3 class="articles__card-title">
                                                    Субсидиарная ответственность при банкротстве
                                                </h3>
                                                <div class="articles__card-date">
                                                    22 сентября 2020
                                                </div>
                                                <ul class="articles__card-tags-list">
                                                    <li class="articles__card-list-item">
                                                        Банкротство
                                                    </li>
                                                </ul>
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="#" class="articles__card">
                                                <div class="articles__card-image-container">
                                                    <img src="/images/articles/2.webp" alt=""
                                                        class="articles__card-image">
                                                </div>
                                                <h3 class="articles__card-title">
                                                    Перевод денежных средств без согласия клиента — как вовремя
                                                    распознать и
                                                    предотвратить?
                                                </h3>
                                                <div class="articles__card-date">
                                                    22 сентября 2020
                                                </div>
                                                <ul class="articles__card-tags-list">
                                                    <li class="articles__card-list-item">
                                                        Банкротство
                                                    </li>
                                                </ul>
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="#" class="articles__card">
                                                <div class="articles__card-image-container">
                                                    <img src="/images/articles/3.webp" alt=""
                                                        class="articles__card-image">
                                                </div>
                                                <h3 class="articles__card-title">
                                                    Защита прав должника при банкротстве
                                                </h3>
                                                <div class="articles__card-date">
                                                    22 сентября 2020
                                                </div>
                                                <ul class="articles__card-tags-list">
                                                    <li class="articles__card-list-item">
                                                        Банкротство
                                                    </li>
                                                </ul>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cases-detail__services">
                <div class="cases-detail__services-top-row">
                    <h3 class="cases-detail__services-heading">
                        Наши услуги
                    </h3>
                    <a href="#" class="cases-detail__services-more">
                        Все
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#more-arrow"></use>
                        </svg>
                    </a>
                </div>
                <div class="cases-detail__services-list-wrapper">
                    <ul class="cases-detail__services-list">
                        <li class="cases-detail__services-list-item">
                            <a href="#" class="cases-detail__services-card">
                                Банкротство
                            </a>
                        </li>
                        <li class="cases-detail__services-list-item">
                            <a href="#" class="cases-detail__services-card">
                                Арбитражный процесс
                            </a>
                        </li>
                        <li class="cases-detail__services-list-item">

                            <a href="#" class="cases-detail__services-card">
                                Трудовое право
                            </a>
                        </li>
                        <li class="cases-detail__services-list-item">

                            <a href="#" class="cases-detail__services-card">
                                Корпоративное право
                            </a>
                        </li>
                        <li class="cases-detail__services-list-item">


                            <a href="#" class="cases-detail__services-card">
                                Налоговое консультирование и налоговые споры
                            </a>
                        </li>
                        <li class="cases-detail__services-list-item">
                            <div class="cases-detail__services-card">
                                Уголовно-правовая защита бизнеса
                            </div>
                        </li>
                        <li class="cases-detail__services-list-item">
                            <div class="cases-detail__services-card">
                                Претензионная стадия, досудебное урегулирование
                            </div>
                        </li>
                        <li class="cases-detail__services-list-item">
                            <div class="cases-detail__services-card">
                                Антимонопольное регулирование
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>