<section class="articles">
    <div class="articles__top">
        <div class="articles__top-inner">
            <div class="breadcrumbs">
                <a href="#">
                    Главная
                </a>
            </div>
            <h1 class="articles__heading">
                Новости и статьи
            </h1>
            <ul class="articles__tags-list">
                <li class="articles__tags-list-item">
                    <a href="#" class="articles__tags-link">
                        Новости
                    </a>
                </li>
                <li class="articles__tags-list-item">
                    <a href="#" class="articles__tags-link active">
                        Полезные статьи
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="articles__bottom">
        <div class="articles__bottom-inner">
            <div class="articles__layout">
                <div class="articles__main">
                    <h2 class="articles__inner-heading">
                        Полезные статьи
                    </h2>
                    <ul class="articles__list">
                        <li class="articles__list-item">
                            <a href="#" class="articles__card">
                                <div class="articles__card-image-container">
                                    <img src="/images/articles/1.webp" alt="" class="articles__card-image">
                                </div>
                                <h3 class="articles__card-title">
                                    Субсидиарная ответственность при банкротстве
                                </h3>
                                <div class="articles__card-date">
                                    22 сентября 2020
                                </div>
                                <ul class="articles__card-tags-list">
                                    <li class="articles__card-list-item">
                                        Банкротство
                                    </li>
                                </ul>
                            </a>
                        </li>
                        <li class="articles__list-item">
                            <a href="#" class="articles__card">
                                <div class="articles__card-image-container">
                                    <img src="/images/articles/2.webp" alt="" class="articles__card-image">
                                </div>
                                <h3 class="articles__card-title">
                                    Перевод денежных средств без согласия клиента — как вовремя распознать и
                                    предотвратить?
                                </h3>
                                <div class="articles__card-date">
                                    22 сентября 2020
                                </div>
                                <ul class="articles__card-tags-list">
                                    <li class="articles__card-list-item">
                                        Банкротство
                                    </li>
                                </ul>
                            </a>
                        </li>
                        <li class="articles__list-item">
                            <a href="#" class="articles__card">
                                <div class="articles__card-image-container">
                                    <img src="/images/articles/3.webp" alt="" class="articles__card-image">
                                </div>
                                <h3 class="articles__card-title">
                                    Защита прав должника при банкротстве
                                </h3>
                                <div class="articles__card-date">
                                    22 сентября 2020
                                </div>
                                <ul class="articles__card-tags-list">
                                    <li class="articles__card-list-item">
                                        Банкротство
                                    </li>
                                </ul>
                            </a>
                        </li>
                        <li class="articles__list-item">
                            <a href="#" class="articles__card">
                                <div class="articles__card-image-container">
                                    <img src="/images/articles/4.webp" alt="" class="articles__card-image">
                                </div>
                                <h3 class="articles__card-title">
                                    Статус фактических супругов по действующему законодательству РФ
                                </h3>
                                <div class="articles__card-date">
                                    22 сентября 2020
                                </div>
                                <ul class="articles__card-tags-list">
                                    <li class="articles__card-list-item">
                                        Семейное право
                                    </li>
                                </ul>
                            </a>
                        </li>
                        <li class="articles__list-item">
                            <a href="#" class="articles__card">
                                <div class="articles__card-image-container">
                                    <img src="/images/articles/5.webp" alt="" class="articles__card-image">
                                </div>
                                <h3 class="articles__card-title">
                                    Споры о детях. Национальные и международные аспекты правового регулирования.
                                    Дополнительная информация
                                </h3>
                                <div class="articles__card-date">
                                    22 сентября 2020
                                </div>
                                <ul class="articles__card-tags-list">
                                    <li class="articles__card-list-item">
                                        Семейное право
                                    </li>
                                </ul>
                            </a>
                        </li>
                        <li class="articles__list-item">
                            <a href="#" class="articles__card">
                                <div class="articles__card-image-container">
                                    <img src="/images/articles/6.webp" alt="" class="articles__card-image">
                                </div>
                                <h3 class="articles__card-title">
                                    Проверка контрагентов, новые возможности
                                </h3>
                                <div class="articles__card-date">
                                    22 сентября 2020
                                </div>
                                <ul class="articles__card-tags-list">
                                    <li class="articles__card-list-item">
                                        Банкротство
                                    </li>
                                </ul>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="articles__sidebar">
                    <div class="articles__categories">
                        <h2 class="articles__categories-heading">
                            Рубрики
                        </h2>

                        <ul class="articles__categories-list">
                            <li class="articles__categories-list-item">
                                <a href="#" class="articles__categories-link active">
                                    Все рубрики
                                </a>
                            </li>
                            <li class="articles__categories-list-item">
                                <a href="#" class="articles__categories-link">
                                    Документы
                                </a>
                            </li>
                            <li class="articles__categories-list-item">
                                <a href="#" class="articles__categories-link">
                                    Семейное право
                                </a>
                            </li>
                            <li class="articles__categories-list-item">
                                <a href="#" class="articles__categories-link">
                                    Налоговое право
                                </a>
                            </li>
                            <li class="articles__categories-list-item">
                                <a href="#" class="articles__categories-link">
                                    Бухгалтерия
                                </a>
                            </li>
                            <li class="articles__categories-list-item">
                                <a href="#" class="articles__categories-link">
                                    Банкротство
                                </a>
                            </li>
                            <li class="articles__categories-list-item">
                                <a href="#" class="articles__categories-link">
                                    Семейное право
                                </a>
                            </li>
                        </ul>
                        <button class="articles__categories-show-more js-show-more">
                            <span>
                                Показать еще
                            </span>
                            <span>
                                Скрыть
                            </span>

                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>