<section class="cases-detail">
    <div class="cases-detail__top">
        <div class="cases-detail__top-content">
            <div class="breadcrumbs">
                <a href="#">
                    Главная
                </a>
                <a href="#">
                    Истории успеха
                </a>
            </div>
            <h1 class="cases-detail__heading">
                Успешно оспорены безосновательные отказы ГК «АСВ» в выплате страхового возмещения по вкладу
            </h1>
        </div>
    </div>
    <div class="cases-detail__bottom">
        <div class="cases-detail__bottom-content">
            <div class="cases-detail__row">
                <div class="cases-detail__main">
                    <div class="cases-detail__text-content">
                        <blockquote>
                            Отстояли интересы клиента в выплате страхового возмещения. Настаивал на своем праве получать
                            доход по банковской гарантии, несмотря на отсутствие на стороне банка возможности исполнять
                            встречные обязательства ввиду своей неплатежеспособности.
                        </blockquote>
                        <h3>
                            Суть дела
                        </h3>
                        <p>
                            ГК «АСВ» отказало в выплате страхового возмещения, ссылаясь на подозрительность операций по
                            счету. При этом в чем выражался подозрительный характер операций ГК «АСВ» не смог пояснить
                            ни в
                            процессе досудебного урегулирования спора, ни в ходе судебного разбирательства. Суд присудил
                            страховое возмещение владельцу счета в виду непредставления ГК «АСВ» доказательств
                            незаконности
                            операций.
                        </p>
                        <h3>
                            Роль команды Аргументъ
                        </h3>
                        <p>
                            Отстояли интересы клиента в выплате страхового возмещения.
                        </p>
                        <h3>
                            Значимость проекта
                        </h3>
                        <p>
                            Таким образом укрепление и развитие структуры влечет за собой процесс внедрения и
                            модернизации
                            систем массового участия. Равным образом консультация с широким активом позволяет выполнять
                            важные задания по разработке модели развития.
                        </p>
                        <h3>
                            Сотрудничество с Аргументъ
                        </h3>
                        <p>
                            Разрешение споров было главным направлением бизнеса Юридического Агентства «АргументЪ» с
                            момента основания,и исключительно сильными компетенциями обладает судебная практика.
                        </p>
                        <p>
                            Углубляясь и расширяясь, вокруг нее в дальнейшем сформировались практики недвижимости,
                            банкротства, корпоративная и другие. Обратившись в «АргументЪ» мы гарантируем, что решение
                            поставленных задач будет осуществляется путем комплексного подхода всей командой.
                        </p>
                    </div>
                </div>
                <div class="cases-detail__sidebar">
                    <div class="cases-detail__other-slider js-cases-detail-slider">
                        <h3 class="cases-detail__other-slider-heading">
                            Еще кейсы
                        </h3>
                        <div class="cases-detail__other-slider-arrows">
                            <button class="cases-detail__other-slider-arrow cases-detail__other-slider-arrow--prev">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#arrow-left"></use>
                                </svg>
                            </button>
                            <button class="cases-detail__other-slider-arrow cases-detail__other-slider-arrow--next">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </button>
                        </div>
                        <a href="#" class="cases-detail__other-slider-more-link">
                            Все
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#more-arrow"></use>
                            </svg>
                        </a>
                        <div class="cases-detail__other-slider-pagination">

                        </div>
                        <div class="cases-detail__other-slider-wrapper">


                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <a href="#" class="cases__card">
                                            <div class="cases__card-bg">
                                                <img src="/images/cases/3.webp" alt="" class="cases__card-bg-image"
                                                    loading="lazy">
                                            </div>
                                            <div class="cases__card-content">
                                                <h3 class="cases__card-title">
                                                    Исполнение добросовестными налогоплательщиками своих обязанностей с
                                                    использованием
                                                    счетов банка в предбанкротный период
                                                </h3>
                                                <div class="cases__card-text">
                                                    OOO «Квант-Гарант», ООО «Элспектр», ООО «Интеграл Сервис», ООО
                                                    «Авто-Сити», ЧОП
                                                    «Сувар», ЧОП «Керпе», ЧОП «Атлант»
                                                </div>
                                                <div class="cases__card-link">
                                                    Читать
                                                    <span class="cases__card-link-icon">
                                                        <svg width="14" height="14" aria-hidden="true">
                                                            <use xlink:href="#more-arrow"></use>
                                                        </svg>
                                                    </span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" class="cases__card">
                                            <div class="cases__card-bg">
                                                <img src="/images/cases/3.webp" alt="" class="cases__card-bg-image"
                                                    loading="lazy">
                                            </div>
                                            <div class="cases__card-content">
                                                <h3 class="cases__card-title">
                                                    Исполнение добросовестными налогоплательщиками своих обязанностей с
                                                    использованием
                                                    счетов банка в предбанкротный период
                                                </h3>
                                                <div class="cases__card-text">
                                                    OOO «Квант-Гарант», ООО «Элспектр», ООО «Интеграл Сервис», ООО
                                                    «Авто-Сити», ЧОП
                                                    «Сувар», ЧОП «Керпе», ЧОП «Атлант»
                                                </div>
                                                <div class="cases__card-link">
                                                    Читать
                                                    <span class="cases__card-link-icon">
                                                        <svg width="14" height="14" aria-hidden="true">
                                                            <use xlink:href="#more-arrow"></use>
                                                        </svg>
                                                    </span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" class="cases__card">
                                            <div class="cases__card-bg">
                                                <img src="/images/cases/3.webp" alt="" class="cases__card-bg-image"
                                                    loading="lazy">
                                            </div>
                                            <div class="cases__card-content">
                                                <h3 class="cases__card-title">
                                                    Исполнение добросовестными налогоплательщиками своих обязанностей с
                                                    использованием
                                                    счетов банка в предбанкротный период
                                                </h3>
                                                <div class="cases__card-text">
                                                    OOO «Квант-Гарант», ООО «Элспектр», ООО «Интеграл Сервис», ООО
                                                    «Авто-Сити», ЧОП
                                                    «Сувар», ЧОП «Керпе», ЧОП «Атлант»
                                                </div>
                                                <div class="cases__card-link">
                                                    Читать
                                                    <span class="cases__card-link-icon">
                                                        <svg width="14" height="14" aria-hidden="true">
                                                            <use xlink:href="#more-arrow"></use>
                                                        </svg>
                                                    </span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cases-detail__services">
                <div class="cases-detail__services-top-row">
                    <h3 class="cases-detail__services-heading">
                        Наши услуги
                    </h3>
                    <a href="#" class="cases-detail__services-more">
                        Все
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#more-arrow"></use>
                        </svg>
                    </a>
                </div>
                <div class="cases-detail__services-list-wrapper">
                    <ul class="cases-detail__services-list">
                        <li class="cases-detail__services-list-item">
                            <a href="#" class="cases-detail__services-card">
                                Банкротство
                            </a>
                        </li>
                        <li class="cases-detail__services-list-item">
                            <a href="#" class="cases-detail__services-card">
                                Арбитражный процесс
                            </a>
                        </li>
                        <li class="cases-detail__services-list-item">

                            <a href="#" class="cases-detail__services-card">
                                Трудовое право
                            </a>
                        </li>
                        <li class="cases-detail__services-list-item">

                            <a href="#" class="cases-detail__services-card">
                                Корпоративное право
                            </a>
                        </li>
                        <li class="cases-detail__services-list-item">


                            <a href="#" class="cases-detail__services-card">
                                Налоговое консультирование и налоговые споры
                            </a>
                        </li>
                        <li class="cases-detail__services-list-item">
                            <div class="cases-detail__services-card">
                                Уголовно-правовая защита бизнеса
                            </div>
                        </li>
                        <li class="cases-detail__services-list-item">
                            <div class="cases-detail__services-card">
                                Претензионная стадия, досудебное урегулирование
                            </div>
                        </li>
                        <li class="cases-detail__services-list-item">
                            <div class="cases-detail__services-card">
                                Антимонопольное регулирование
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>