<section class="cases-catalog">
    <div class="cases-catalog__top">
        <div class="cases-catalog__top-content">
            <div class="breadcrumbs">
                <a href="#">
                    Главная
                </a>
            </div>
            <h1 class="contacts__heading">
                Истории успеха
            </h1>
        </div>

    </div>
    <div class="cases-catalog__bottom">
        <div class="cases-catalog__bottom-content">
            <div class="cases-catalog__text">
                За многолетнюю историю нашего агентства, у нас было много интересных задач. Здесь вы можете
                ознакомиться с нашими кейсами и реальными историями клиентов. Какие задачи перед ними стояли и как
                мы их совместно решали.
            </div>
            <ul class="cases-catalog__list">
                <li class="cases-catalog__list-item">
                    <a href="#" class="cases__card">
                        <div class="cases__card-bg">
                            <img src="/images/cases/1.webp" alt="" class="cases__card-bg-image" loading="lazy">
                        </div>
                        <div class="cases__card-content">
                            <h3 class="cases__card-title">
                                Признание недействительной сделки, заключенной под влиянием заблуждения
                            </h3>
                            <div class="cases__card-text">
                                Ерофеева Валентина, Халитова Альбина, Ларионов Алексей
                            </div>
                            <div class="cases__card-link">
                                Читать
                                <span class="cases__card-link-icon">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#more-arrow"></use>
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="cases-catalog__list-item">
                    <a href="#" class="cases__card">
                        <div class="cases__card-bg">
                            <img src="/images/cases/2.webp" alt="" class="cases__card-bg-image" loading="lazy">
                        </div>
                        <div class="cases__card-content">
                            <h3 class="cases__card-title">
                                Выплата вознаграждения по банковской гарантии после отзыва лицензии
                            </h3>
                            <div class="cases__card-text">
                                OOO «Жилищная основа»
                            </div>
                            <div class="cases__card-link">
                                Читать
                                <span class="cases__card-link-icon">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#more-arrow"></use>
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="cases-catalog__list-item">
                    <a href="#" class="cases__card">
                        <div class="cases__card-bg">
                            <img src="/images/cases/3.webp" alt="" class="cases__card-bg-image" loading="lazy">
                        </div>
                        <div class="cases__card-content">
                            <h3 class="cases__card-title">
                                Исполнение добросовестными налогоплательщиками своих обязанностей с использованием
                                счетов банка в предбанкротный период
                            </h3>
                            <div class="cases__card-text">
                                OOO «Квант-Гарант», ООО «Элспектр», ООО «Интеграл Сервис», ООО «Авто-Сити», ЧОП
                                «Сувар», ЧОП «Керпе», ЧОП «Атлант»
                            </div>
                            <div class="cases__card-link">
                                Читать
                                <span class="cases__card-link-icon">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#more-arrow"></use>
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="cases-catalog__list-item">
                    <a href="#" class="cases__card">
                        <div class="cases__card-bg">
                            <img src="/images/cases/3.webp" alt="" class="cases__card-bg-image" loading="lazy">
                        </div>
                        <div class="cases__card-content">
                            <h3 class="cases__card-title">
                                Исполнение добросовестными налогоплательщиками своих обязанностей с использованием
                                счетов банка в предбанкротный период
                            </h3>
                            <div class="cases__card-text">
                                OOO «Квант-Гарант», ООО «Элспектр», ООО «Интеграл Сервис», ООО «Авто-Сити», ЧОП
                                «Сувар», ЧОП «Керпе», ЧОП «Атлант»
                            </div>
                            <div class="cases__card-link">
                                Читать
                                <span class="cases__card-link-icon">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#more-arrow"></use>
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="cases-catalog__list-item">
                    <a href="#" class="cases__card">
                        <div class="cases__card-bg">
                            <img src="/images/cases/3.webp" alt="" class="cases__card-bg-image" loading="lazy">
                        </div>
                        <div class="cases__card-content">
                            <h3 class="cases__card-title">
                                Исполнение добросовестными налогоплательщиками своих обязанностей с использованием
                                счетов банка в предбанкротный период
                            </h3>
                            <div class="cases__card-text">
                                OOO «Квант-Гарант», ООО «Элспектр», ООО «Интеграл Сервис», ООО «Авто-Сити», ЧОП
                                «Сувар», ЧОП «Керпе», ЧОП «Атлант»
                            </div>
                            <div class="cases__card-link">
                                Читать
                                <span class="cases__card-link-icon">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#more-arrow"></use>
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="cases-catalog__list-item">
                    <a href="#" class="cases__card">
                        <div class="cases__card-bg">
                            <img src="/images/cases/3.webp" alt="" class="cases__card-bg-image" loading="lazy">
                        </div>
                        <div class="cases__card-content">
                            <h3 class="cases__card-title">
                                Исполнение добросовестными налогоплательщиками своих обязанностей с использованием
                                счетов банка в предбанкротный период
                            </h3>
                            <div class="cases__card-text">
                                OOO «Квант-Гарант», ООО «Элспектр», ООО «Интеграл Сервис», ООО «Авто-Сити», ЧОП
                                «Сувар», ЧОП «Керпе», ЧОП «Атлант»
                            </div>
                            <div class="cases__card-link">
                                Читать
                                <span class="cases__card-link-icon">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#more-arrow"></use>
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="cases-catalog__list-item">
                    <a href="#" class="cases__card">
                        <div class="cases__card-bg">
                            <img src="/images/cases/3.webp" alt="" class="cases__card-bg-image" loading="lazy">
                        </div>
                        <div class="cases__card-content">
                            <h3 class="cases__card-title">
                                Исполнение добросовестными налогоплательщиками своих обязанностей с использованием
                                счетов банка в предбанкротный период
                            </h3>
                            <div class="cases__card-text">
                                OOO «Квант-Гарант», ООО «Элспектр», ООО «Интеграл Сервис», ООО «Авто-Сити», ЧОП
                                «Сувар», ЧОП «Керпе», ЧОП «Атлант»
                            </div>
                            <div class="cases__card-link">
                                Читать
                                <span class="cases__card-link-icon">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#more-arrow"></use>
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>