<section class="cases">
    <div class="cases__content">
        <div class="cases__top-row">
            <h2 class="cases__heading">
                Кейсы
            </h2>
            <a href="#" class="cases__link">
                Все
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#more-arrow"></use>
                </svg>
            </a>
        </div>
        <div class="cases__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="cases__card">
                            <div class="cases__card-bg">
                                <img src="/images/cases/1.webp" alt="" class="cases__card-bg-image" loading="lazy">
                            </div>
                            <div class="cases__card-content">
                                <h3 class="cases__card-title">
                                    Признание недействительной сделки, заключенной под влиянием заблуждения
                                </h3>
                                <div class="cases__card-text">
                                    Ерофеева Валентина, Халитова Альбина, Ларионов Алексей
                                </div>
                                <div class="cases__card-link">
                                    Читать
                                    <span class="cases__card-link-icon">
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#more-arrow"></use>
                                        </svg>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="cases__card">
                            <div class="cases__card-bg">
                                <img src="/images/cases/2.webp" alt="" class="cases__card-bg-image" loading="lazy">
                            </div>
                            <div class="cases__card-content">
                                <h3 class="cases__card-title">
                                    Выплата вознаграждения по банковской гарантии после отзыва лицензии
                                </h3>
                                <div class="cases__card-text">
                                    OOO «Жилищная основа»
                                </div>
                                <div class="cases__card-link">
                                    Читать
                                    <span class="cases__card-link-icon">
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#more-arrow"></use>
                                        </svg>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="cases__card">
                            <div class="cases__card-bg">
                                <img src="/images/cases/3.webp" alt="" class="cases__card-bg-image" loading="lazy">
                            </div>
                            <div class="cases__card-content">
                                <h3 class="cases__card-title">
                                    Исполнение добросовестными налогоплательщиками своих обязанностей с использованием
                                    счетов банка в предбанкротный период
                                </h3>
                                <div class="cases__card-text">
                                    OOO «Квант-Гарант», ООО «Элспектр», ООО «Интеграл Сервис», ООО «Авто-Сити», ЧОП
                                    «Сувар», ЧОП «Керпе», ЧОП «Атлант»
                                </div>
                                <div class="cases__card-link">
                                    Читать
                                    <span class="cases__card-link-icon">
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#more-arrow"></use>
                                        </svg>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="cases__card">
                            <div class="cases__card-bg">
                                <img src="/images/cases/1.webp" alt="" class="cases__card-bg-image" loading="lazy">
                            </div>
                            <div class="cases__card-content">
                                <h3 class="cases__card-title">
                                    Признание недействительной сделки, заключенной под влиянием заблуждения
                                </h3>
                                <div class="cases__card-text">
                                    Ерофеева Валентина, Халитова Альбина, Ларионов Алексей
                                </div>
                                <div class="cases__card-link">
                                    Читать
                                    <span class="cases__card-link-icon">
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#more-arrow"></use>
                                        </svg>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="cases__card">
                            <div class="cases__card-bg">
                                <img src="/images/cases/2.webp" alt="" class="cases__card-bg-image" loading="lazy">
                            </div>
                            <div class="cases__card-content">
                                <h3 class="cases__card-title">
                                    Выплата вознаграждения по банковской гарантии после отзыва лицензии
                                </h3>
                                <div class="cases__card-text">
                                    OOO «Жилищная основа»
                                </div>
                                <div class="cases__card-link">
                                    Читать
                                    <span class="cases__card-link-icon">
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#more-arrow"></use>
                                        </svg>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="cases__card">
                            <div class="cases__card-bg">
                                <img src="/images/cases/3.webp" alt="" class="cases__card-bg-image" loading="lazy">
                            </div>
                            <div class="cases__card-content">
                                <h3 class="cases__card-title">
                                    Исполнение добросовестными налогоплательщиками своих обязанностей с использованием
                                    счетов банка в предбанкротный период
                                </h3>
                                <div class="cases__card-text">
                                    OOO «Квант-Гарант», ООО «Элспектр», ООО «Интеграл Сервис», ООО «Авто-Сити», ЧОП
                                    «Сувар», ЧОП «Керпе», ЧОП «Атлант»
                                </div>
                                <div class="cases__card-link">
                                    Читать
                                    <span class="cases__card-link-icon">
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#more-arrow"></use>
                                        </svg>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="cases__bottom-row">
            <div class="cases__pagination">

            </div>
            <div class="cases__arrows">
                <button class="cases__arrows-btn cases__arrows-btn--prev" type="button">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#arrow-left"></use>
                    </svg>
                </button>
                <button class="cases__arrows-btn cases__arrows-btn--next" type="button">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>