<section class="contacts">
    <div class="contacts__top">
        <div class="contacts__top-content">
            <div class="breadcrumbs">
                <a href="#">
                    Главная
                </a>
            </div>
            <h1 class="contacts__heading">
                Контакты
            </h1>
        </div>
    </div>
    <div class="contacts__bottom">
        <div class="contacts__bottom-content">
            <div class="contacts__bottom-row">


                <div class="contacts__col">
                    <div class="contacts__item">
                        <h2 class="contacts__item-heading">
                            Позвонить
                        </h2>
                        <ul class="contacts__item-list">
                            <li class="contacts__item-list-item">
                                <div class="contacts__item-key">
                                    Главный офис
                                </div>
                                <a href="tel:+79600480033" class="contacts__item-value">
                                    +7 960 048-00-33
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="contacts__item">
                        <h2 class="contacts__item-heading">
                            Посетить
                        </h2>
                        <ul class="contacts__item-list">
                            <li class="contacts__item-list-item">
                                <div class="contacts__item-key">
                                    Главный офис
                                </div>
                                <div class="contacts__item-value">
                                    г. Казань, ул. Чистопольская 20Б
                                </div>
                            </li>
                            <li class="contacts__item-list-item">
                                <div class="contacts__item-key">
                                    Режим работы
                                </div>
                                <div class="contacts__item-value">
                                    Пн — Пт с 09:00 до 18:00
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="contacts__col">
                    <div class="contacts__item">
                        <h2 class="contacts__item-heading">
                            Написать
                        </h2>
                        <ul class="contacts__item-list">
                            <li class="contacts__item-list-item">
                                <div class="contacts__item-key">
                                    Консультация
                                </div>
                                <a href="mailto:sales@argumentkazan.ru"
                                    class="contacts__item-value contacts__item-value--red">
                                    sales@argumentkazan.ru
                                </a>
                            </li>
                            <li class="contacts__item-list-item">
                                <div class="contacts__item-key">
                                    Главный офис
                                </div>
                                <a href="mailto:info@argumentkazan.ru"
                                    class="contacts__item-value contacts__item-value--red">
                                    info@argumentkazan.ru
                                </a>
                            </li>
                            <li class="contacts__item-list-item">
                                <div class="contacts__item-key">
                                    Факс
                                </div>
                                <a href="tel:+78432165629" class="contacts__item-value ">
                                    +7 (843) 216-56-29
                                </a>
                            </li>
                            <li class="contacts__item-list-item">
                                <div class="contacts__item-key">
                                    Индекс
                                </div>
                                <div class="contacts__item-value">
                                    420124
                                </div>
                            </li>
                            <li class="contacts__item-list-item">
                                <div class="contacts__item-key">
                                    ИНН
                                </div>
                                <div class="contacts__item-value">
                                    1657230179
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="contacts__map js-map" data-center="55.817355, 49.111777" data-coords="55.817355, 49.111777"
                data-zoom="14">
                <div class="contacts__map-element js-map-element">

                </div>
            </div>
        </div>
    </div>
</section>