<section class="about">
    <div class="about__top">
        <div class="subservice-detail__top-inner">
            <div class="breadcrumbs">
                <a href="#">
                    Главная
                </a>

            </div>
            <h1 class="subservice-detail__heading">
                О нас
            </h1>
            <ul class="about__tags-list">
                <li class="about__tags-list-item">
                    <a href="#" class="about__tags-link active">
                        Об агентстве
                    </a>
                </li>
                <li class="about__tags-list-item">
                    <a href="#" class="about__tags-link">
                        Сотрудничество
                    </a>
                </li>
                <li class="about__tags-list-item">
                    <a href="#" class="about__tags-link">
                        Наши партнеры
                    </a>
                </li>
                <li class="about__tags-list-item">
                    <a href="#" class="about__tags-link active">
                        Документы
                    </a>
                </li>
                <li class="about__tags-list-item">
                    <a href="#" class="about__tags-link">
                        Вакансии
                    </a>
                </li>
                <li class="about__tags-list-item">
                    <a href="#" class="about__tags-link">
                        Деятельность в области информационных технологий
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="about__bottom">
        <div class="about__bottom-inner">
            <div class="about__agency">
                <h2 class="about__agency-heading">
                    Документы
                </h2>
                <div class="about__agency-row">
                    <div class="about__agency-text">
                        <p>
                            В современном мире договор является самым частым основанием для возникновения обязательств,
                            с помощью которого происходит продажа и покупка товаров как потребителями, так и
                            организациями, закупка сырья производителями и изготовителями, выполнение работ, оказание
                            услуг и прочими видами деятельности и является гарантом исполнения обязательств каждой из
                            его сторон.
                        </p>
                        <p>
                            Вашему вниманию представлены часто используемые образцы договоров.
                        </p>

                    </div>

                </div>
            </div>
            <div class="about__docs">
                <div class="about-docs__block">
                    <h3 class="about-docs__block-heading">
                        Оказание услуг
                    </h3>
                    <ul class="about-docs__list">
                        <li class="about-docs__list-item">
                            <a href="#" class="about-docs__card">
                                <h4 class="about-docs__card-title">
                                    Типовой договор подряда
                                </h4>
                                <div class="about-docs__card-bottom-row">
                                    <div class="about-docs__card-file-info">
                                        DOCX, 45 Kb
                                    </div>
                                    <div class="about-docs__card-file-icon">
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#download"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="about-docs__list-item">
                            <a href="#" class="about-docs__card">
                                <h4 class="about-docs__card-title">
                                    Договор подряда
                                </h4>
                                <div class="about-docs__card-bottom-row">
                                    <div class="about-docs__card-file-info">
                                        RTF, 149 Kb
                                    </div>
                                    <div class="about-docs__card-file-icon">
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#download"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="about-docs__list-item">
                            <a href="#" class="about-docs__card">
                                <h4 class="about-docs__card-title">
                                    Договор оказания услуг
                                </h4>
                                <div class="about-docs__card-bottom-row">
                                    <div class="about-docs__card-file-info">
                                        DOCX, 43 Kb
                                    </div>
                                    <div class="about-docs__card-file-icon">
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#download"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="about-docs__list-item">
                            <a href="#" class="about-docs__card">
                                <h4 class="about-docs__card-title">
                                    Договор оказания услуг
                                </h4>
                                <div class="about-docs__card-bottom-row">
                                    <div class="about-docs__card-file-info">
                                        RTF, 206 Kb
                                    </div>
                                    <div class="about-docs__card-file-icon">
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#download"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="about-docs__list-item">
                            <a href="#" class="about-docs__card">
                                <h4 class="about-docs__card-title">
                                    Трудовой договор
                                </h4>
                                <div class="about-docs__card-bottom-row">
                                    <div class="about-docs__card-file-info">
                                        DOCX, 61 Kb
                                    </div>
                                    <div class="about-docs__card-file-icon">
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#download"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="about-docs__list-item">
                            <a href="#" class="about-docs__card">
                                <h4 class="about-docs__card-title">
                                    Трудовой договор
                                </h4>
                                <div class="about-docs__card-bottom-row">
                                    <div class="about-docs__card-file-info">
                                        RTF, 149 Kb
                                    </div>
                                    <div class="about-docs__card-file-icon">
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#download"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="about-docs__block">
                    <h3 class="about-docs__block-heading">
                        Покупка и аренда
                    </h3>
                    <ul class="about-docs__list">
                        <li class="about-docs__list-item">
                            <a href="#" class="about-docs__card">
                                <h4 class="about-docs__card-title">
                                    Договор купли-продажи
                                </h4>
                                <div class="about-docs__card-bottom-row">
                                    <div class="about-docs__card-file-info">
                                        RTF, 109 Kb
                                    </div>
                                    <div class="about-docs__card-file-icon">
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#download"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="about-docs__list-item">
                            <a href="#" class="about-docs__card">
                                <h4 class="about-docs__card-title">
                                    Договор купли-продажи недвижимости
                                </h4>
                                <div class="about-docs__card-bottom-row">
                                    <div class="about-docs__card-file-info">
                                        DOCX, 103 Kb
                                    </div>
                                    <div class="about-docs__card-file-icon">
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#download"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="about-docs__list-item">
                            <a href="#" class="about-docs__card">
                                <h4 class="about-docs__card-title">
                                    Договор аренды помещения
                                </h4>
                                <div class="about-docs__card-bottom-row">
                                    <div class="about-docs__card-file-info">
                                        RTF, 196 Kb
                                    </div>
                                    <div class="about-docs__card-file-icon">
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#download"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="about-docs__list-item">
                            <a href="#" class="about-docs__card">
                                <h4 class="about-docs__card-title">
                                    Договор аренды жилого помещения
                                </h4>
                                <div class="about-docs__card-bottom-row">
                                    <div class="about-docs__card-file-info">
                                        DOCX, 103 Kb
                                    </div>
                                    <div class="about-docs__card-file-icon">
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#download"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="about-docs__list-item">
                            <a href="#" class="about-docs__card">
                                <h4 class="about-docs__card-title">
                                    Договор аренды нежилых помещений, зданий и сооружений
                                </h4>
                                <div class="about-docs__card-bottom-row">
                                    <div class="about-docs__card-file-info">
                                        DOCX, 54 Kb
                                    </div>
                                    <div class="about-docs__card-file-icon">
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#download"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="about-docs__list-item">
                            <a href="#" class="about-docs__card">
                                <h4 class="about-docs__card-title">
                                    Договор аренды земли, земельной доли, участка
                                </h4>
                                <div class="about-docs__card-bottom-row">
                                    <div class="about-docs__card-file-info">
                                        DOCX, 44 Kb
                                    </div>
                                    <div class="about-docs__card-file-icon">
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#download"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="about-docs__list-item">
                            <a href="#" class="about-docs__card">
                                <h4 class="about-docs__card-title">
                                    Договор аренды автомобиля и других транспортных средств
                                </h4>
                                <div class="about-docs__card-bottom-row">
                                    <div class="about-docs__card-file-info">
                                        DOCX, 36 Kb
                                    </div>
                                    <div class="about-docs__card-file-icon">
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#download"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="about-docs__block">
                    <h3 class="about-docs__block-heading">
                        Другое
                    </h3>
                    <ul class="about-docs__list">
                        <li class="about-docs__list-item">
                            <a href="#" class="about-docs__card">
                                <h4 class="about-docs__card-title">
                                    Бухгалтерская отчетность, бухгалтерский учет
                                </h4>
                                <div class="about-docs__card-bottom-row">
                                    <div class="about-docs__card-file-info">
                                        DOCX, 31 Kb
                                    </div>
                                    <div class="about-docs__card-file-icon">
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#download"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>