<div class="message" id="success">
    <div class="message__inner">
        <svg width="14" height="14" aria-hidden="true">
            <use xlink:href="#message-success"></use>
        </svg>
        Что-то пошло не так.
        <button class="message__close js-message-close" type="button">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#message-close"></use>
            </svg>
        </button>
    </div>
</div>

<div class="message message--error" id="error">
    <div class="message__inner">
        <svg width="14" height="14" aria-hidden="true">
            <use xlink:href="#message-error"></use>
        </svg>
        Что-то пошло не так.
        <button class="message__close js-message-close" type="button">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#message-close"></use>
            </svg>
        </button>
    </div>
</div>