<footer class="page-footer">
    <div class="page-footer__content">
        <div class="page-footer__left-col">
            <div class="page-footer__news">
                <h3 class="page-footer__news-heading">
                    Новости и юридические лайфхаки
                </h3>
                <div class="page-footer__news-wrapper">


                    <a href="#" class="page-footer__news-video">
                        <img src="/images/page-footer-video-preview.webp" alt="" class="page-footer__news-video-image">
                        <div class="page-footer__news-video-play">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#play"></use>
                            </svg>
                        </div>
                    </a>
                </div>
                <ul class="page-footer__news-list">
                    <li class="page-footer__news-list-item">
                        <a href="#" class="page-footer__news-link">
                            <img src="/images/youtube.svg" alt="" class="page-footer__news-link-logo">
                            Лайфхаки
                        </a>
                    </li>
                    <li class="page-footer__news-list-item">
                        <a href="#" class="page-footer__news-link">
                            <img src="/images/zen.svg" alt="" class="page-footer__news-link-logo">
                            Блог о тонкостях права
                        </a>
                    </li>
                    <li class="page-footer__news-list-item">
                        <a href="#" class="page-footer__news-link">
                            <img src="/images/telegram.svg" alt="" class="page-footer__news-link-logo">
                            Новости
                        </a>
                    </li>
                    <li class="page-footer__news-list-item">
                        <a href="#" class="page-footer__news-link">
                            <img src="/images/hz.svg" alt="" class="page-footer__news-link-logo">
                            Канал о LegalTech
                        </a>
                    </li>
                    <li class="page-footer__news-list-item">
                        <a href="#" class="page-footer__news-link">
                            <img src="/images/vk.svg" alt="" class="page-footer__news-link-logo">
                            Группа в VK
                        </a>
                    </li>
                    <li class="page-footer__news-list-item">
                        <a href="#" class="page-footer__news-link">
                            <img src="/images/x.svg" alt="" class="page-footer__news-link-logo">
                            Обзор законов
                        </a>
                    </li>
                </ul>
                <a href="#" class="page-footer__skolkovo">
                    <img src="/images/skolkovo.svg" alt="" class="page-footer__skolkovo-image">
                </a>
            </div>
        </div>
        <div class="page-footer__right-col">
            <div class="page-footer__contacts">
                <div class="page-footer__address">
                    г. Казань, ул. Чистопольская, 20Б
                </div>
                <div class="page-footer__schedule">
                    Пн — Пт, с 9:00 до 18:00
                </div>
                <a href="#" class="page-footer__on-map">
                    Посмотреть на карте
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#location"></use>
                    </svg>
                </a>
                <div class="page-footer__links">
                    <a href="tel:+78432580033" class="page-footer__phone-link">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#phone"></use>
                        </svg>
                        +7 (843) 258-00-33
                    </a>
                    <a href="#" class="page-footer__callback-link">
                        Написать нам
                    </a>
                </div>
            </div>
            <div class="page-footer__apps">
                <h3 class="page-footer__apps-heading">
                    Цифровой юрист для&nbsp;бизнеса
                </h3>
                <ul class="page-footer__apps-list">
                    <li class="page-footer__apps-list-item">
                        <a href="#" class="page-footer__apps-link">
                            <img src="/images/google-play.svg" alt="" class="page-footer__apps-link-image">
                        </a>
                    </li>
                    <li class="page-footer__apps-list-item">
                        <a href="#" class="page-footer__apps-link">
                            <img src="/images/appstore.svg" alt="" class="page-footer__apps-link-image">
                        </a>
                    </li>
                </ul>
            </div>
            <img src="images/page-footer-illustration.webp" alt="" class="page-footer__illustration">
        </div>
    </div>
</footer>