<section class="has-questions">
    <div class="has-questions__content">
        <div class="has-questions__text-content">
            <h2 class="has-questions__heading">
                Остались вопросы?
            </h2>
            <div class="has-questions__text">
                Оставьте заявку и наш специалист проконсультирует вас!
            </div>
            <a href="#" class="btn has-questions__link">
                Оставить заявку
            </a>
        </div>
        <div class="has-questions__image-wrapper">
            <img src="/images/has-questions.webp" alt="" class="has-questions__image">
        </div>
    </div>
</section>