<header class="page-header">
    <div class="page-header__content">
        <a href="/" class="page-header__logo">
            <picture>
                <source srcset="/images/logo-compact.svg" media="(max-width: 767px)" />
                <img src="/images/logo.svg" alt="" class="page-header__logo-image" />
            </picture>
        </a>
        <div class="page-header__menu">
            <div class="page-header__menu-inner">
                <div class="page-header__menu-top-row">
                    <a href="/" class="page-header__logo">
                        <picture>
                            <source srcset="/images/logo-compact.svg" media="(max-width: 767px)" />
                            <img src="/images/logo.svg" alt="" class="page-header__logo-image" />
                        </picture>
                    </a>
                    <button class="page-header__burger page-header__burger--active js-close-menu-btn" type="button">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
                <nav class="page-header__nav">
                    <ul class="page-header__nav-list">
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                О нас
                                <span class="page-header__nav-link-icon">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#accordion-arrow"></use>
                                    </svg>
                                </span>
                            </a>
                            <div class="page-header__nav-dropdown">
                                <div class="page-header__nav-dropdown-inner">
                                    <div class="page-header__nav-dropdown-content">
                                        <div class="page-header__nav-submenu-row">
                                            <ul class="page-header__nav-submenu-list">
                                                <li class="page-header__nav-submenu-list-item">
                                                    <a href="#" class="page-header__nav-submenu-link">
                                                        Сотрудничество
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-submenu-list-item">
                                                    <a href="#" class="page-header__nav-submenu-link">
                                                        Наши партнеры
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-submenu-list-item">
                                                    <a href="#" class="page-header__nav-submenu-link">
                                                        Документы
                                                    </a>
                                                </li>
                                            </ul>
                                            <ul class="page-header__nav-submenu-list">
                                                <li class="page-header__nav-submenu-list-item">
                                                    <a href="#" class="page-header__nav-submenu-link">
                                                        Вакансии
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-submenu-list-item">
                                                    <a href="#" class="page-header__nav-submenu-link">
                                                        Деятельность в области информационных технологий
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Продукты и услуги
                                <span class="page-header__nav-link-icon">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#accordion-arrow"></use>
                                    </svg>
                                </span>
                            </a>
                            <div class="page-header__nav-dropdown">
                                <div class="page-header__nav-dropdown-inner">
                                    <div class="page-header__nav-dropdown-content">


                                        <ul class="page-header__nav-services-list">
                                            <li class="page-header__nav-services-list-item">
                                                <a href="#" class="page-header__nav-services-card">
                                                    <img src="/images/services/1.svg" alt=""
                                                        class="page-header__nav-services-card-icon">
                                                    <h3 class="page-header__nav-services-card-title">
                                                        Юридическая помощь
                                                    </h3>
                                                </a>
                                            </li>
                                            <li class="page-header__nav-services-list-item">
                                                <a href="#" class="page-header__nav-services-card">
                                                    <img src="/images/services/2.svg" alt=""
                                                        class="page-header__nav-services-card-icon">
                                                    <h3 class="page-header__nav-services-card-title">
                                                        Приложение
                                                    </h3>
                                                </a>
                                            </li>
                                            <li class="page-header__nav-services-list-item">
                                                <a href="#" class="page-header__nav-services-card">
                                                    <img src="/images/services/3.svg" alt=""
                                                        class="page-header__nav-services-card-icon">
                                                    <h3 class="page-header__nav-services-card-title">
                                                        Бизнес-чекап
                                                    </h3>
                                                </a>
                                            </li>
                                            <li class="page-header__nav-services-list-item">
                                                <a href="#" class="page-header__nav-services-card">
                                                    <img src="/images/services/4.svg" alt=""
                                                        class="page-header__nav-services-card-icon">
                                                    <h3 class="page-header__nav-services-card-title">
                                                        Регистрация бизнеса в ОАЭ
                                                    </h3>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="page-header__nav-submenu-row">
                                            <ul class="page-header__nav-submenu-list">
                                                <li class="page-header__nav-submenu-list-item">
                                                    <a href="#" class="page-header__nav-submenu-link">
                                                        Банкротство
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-submenu-list-item">
                                                    <a href="#" class="page-header__nav-submenu-link">
                                                        Арбитражный процесс
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-submenu-list-item">
                                                    <a href="#" class="page-header__nav-submenu-link">
                                                        Трудовое право
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-submenu-list-item">
                                                    <a href="#" class="page-header__nav-submenu-link">
                                                        Корпоративное право
                                                    </a>
                                                </li>
                                            </ul>
                                            <ul class="page-header__nav-submenu-list">
                                                <li class="page-header__nav-submenu-list-item">
                                                    <a href="#" class="page-header__nav-submenu-link">
                                                        Налоговое консультирование и налоговые споры
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-submenu-list-item">
                                                    <a href="#" class="page-header__nav-submenu-link">
                                                        Претензионная стадия, досудебное урегулирование
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-submenu-list-item">
                                                    <a href="#" class="page-header__nav-submenu-link">
                                                        Уголовно-правовая защита бизнеса
                                                    </a>
                                                </li>
                                                <li class="page-header__nav-submenu-list-item">
                                                    <a href="#" class="page-header__nav-submenu-link">
                                                        Антимонопольное регулирование
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Истории успеха
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Новости и статьи
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Контакты
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="page-header__menu-bottom">
                    <div class="page-header__menu-left-col">
                        <div class="page-header__menu-address">
                            г. Казань, ул. Чистопольская, 20Б
                        </div>
                        <div class="page-header__menu-schedule">
                            Пн — Пт, с 9:00 до 18:00
                        </div>
                        <a href="#" class="page-header__menu-map">
                            Посмотреть на карте
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#location"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="page-header__menu-right-col">
                        <div class="page-header__menu-links">
                            <a href="tel:+78432580033" class="page-header__menu-phone-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#phone"></use>
                                </svg>
                                +7 (843) 258-00-33
                            </a>
                            <a href="#" class="page-header__menu-callback-link">
                                Написать нам
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="tel:+78432580033" class="page-header__phone-link">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#phone"></use>
            </svg>
            +7 (843) 258-00-33
        </a>
        <button class="page-header__burger js-open-menu-btn" type="button">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</header>