<section class="intro">
    <div class="intro__content">
        <div class="intro__wrapper">
            <img src="/images/a.webp" alt="" class="intro__image">
            <div class="intro__text-content">
                <h2 class="intro__heading">
                    Одно из ведущих юридических предприятий <b>Республики Татарстан,</b>
                    c&nbsp;глубоким опытом и&nbsp;многолетней практикой
                </h2>
                <div class="intro__heading-text">
                    Наш коллектив состоит из опытных специалистов, <b>занимающихся юридической деятельностью
                        с 1999 года.</b>
                </div>
                <a href="#" class="btn intro__link">
                    Заказать консультацию
                </a>
            </div>
        </div>
    </div>
</section>