<div class="modal js-modal" id="callback-modal">
    <div class="modal__inner">
        <div class="modal__top-wrapper">
            <picture>
                <source srcset="/images/logo-compact.svg" media="(max-width: 767px)" />
                <img src="/images/logo.svg" alt="" class="modal__logo" />
            </picture>

            <button class="modal__close js-modal-close">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <div class="modal__bottom-wrapper">


            <h3 class="modal__heading">
                Заказать консультацию
            </h3>
            <form action="/" method="POST" class="modal__form js-form">
                <div class="modal__fields">
                    <div class="modal__field">
                        <div class="modal__input-wrapper">
                            <label class="modal__label">
                                <input type="text" class="modal__input" name="your-name" placeholder="Ваше имя"
                                    required="">
                                <span class="modal__label-text">
                                    Ваше имя
                                </span>
                                <button class="modal__input-clear-btn js-clear-input" type="button">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#clear"></use>
                                    </svg>
                                </button>
                            </label>

                        </div>
                    </div>
                    <div class="modal__field">
                        <div class="modal__input-wrapper">
                            <label class="modal__label">
                                <input type="tel" class="modal__input" name="your-phone"
                                    placeholder="Контактный телефон" required="">
                                <span class="modal__label-text">
                                    Контактный телефон
                                </span>
                                <button class="modal__input-clear-btn js-clear-input" type="button">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#clear"></use>
                                    </svg>
                                </button>
                            </label>

                        </div>
                    </div>
                </div>
                <button class="btn modal__submit">
                    Отправить
                </button>
                <div class="modal__policy">
                    Нажимая на кнопку, я даю свое согласие на обработку предоставленных персональных данных в
                    соответствии с
                    Федеральным законом от 27.07.2006 № 152-ФЗ
                    «О персональных данных».
                </div>
            </form>
        </div>
    </div>
</div>