<section class="numbers">
    <div class="numbers__content">
        <div class="numbers__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="numbers__card">
                            <div class="numbers__card-bg">
                                <img src="/images/numbers/1.svg" alt="" class="numbers__card-bg-image">
                            </div>
                            <div class="numbers__card-content">
                                <div class="numbers__card-amount">
                                    19 лет
                                </div>
                                <div class="numbers__card-text">
                                    Опыт наших сотрудников
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="numbers__card">
                            <div class="numbers__card-bg">
                                <img src="/images/numbers/2.svg" alt="" class="numbers__card-bg-image">
                            </div>
                            <div class="numbers__card-content">
                                <div class="numbers__card-amount">
                                    30+
                                </div>
                                <div class="numbers__card-text">
                                    Оказываемых услуг
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="numbers__card">
                            <div class="numbers__card-bg">
                                <img src="/images/numbers/3.svg" alt="" class="numbers__card-bg-image">
                            </div>
                            <div class="numbers__card-content">
                                <div class="numbers__card-amount">
                                    78
                                </div>
                                <div class="numbers__card-text">
                                    Городов в 17 регионах
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="numbers__card">
                            <div class="numbers__card-bg">
                                <img src="/images/numbers/4.svg" alt="" class="numbers__card-bg-image">
                            </div>
                            <div class="numbers__card-content">
                                <img src="/images/sk.svg" alt="" class="numbers__card-image">
                                <div class="numbers__card-text">
                                    Участник Сколково
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="numbers__slider-bottom">
                <div class="numbers__slider-pagination">

                </div>
                <div class="numbers__slider-arrows">
                    <button class="numbers__slider-arrow numbers__slider-arrow--prev">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#arrow-left"></use>
                        </svg>
                    </button>
                    <button class="numbers__slider-arrow numbers__slider-arrow--next">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>

    </div>
</section>