<section class="partners">
    <div class="partners__content">
        <div class="partners__top-row">
            <h2 class="partners__heading">
                Партнеры
            </h2>
            <a href="#" class="partners__link">
                Все
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#more-arrow"></use>
                </svg>
            </a>
        </div>
        <div class="partners__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="partners__slider-card">
                            <img src="/images/partners/1.webp" alt="" class="partners__slider-card-image">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="partners__slider-card">
                            <img src="/images/partners/2.webp" alt="" class="partners__slider-card-image">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="partners__slider-card">
                            <img src="/images/partners/3.webp" alt="" class="partners__slider-card-image">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="partners__slider-card">
                            <img src="/images/partners/4.webp" alt="" class="partners__slider-card-image">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="partners__slider-card">
                            <img src="/images/partners/5.webp" alt="" class="partners__slider-card-image">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="partners__slider-card">
                            <img src="/images/partners/6.webp" alt="" class="partners__slider-card-image">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="partners__slider-card">
                            <img src="/images/partners/7.webp" alt="" class="partners__slider-card-image">
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#" class="partners__slider-card">
                            <img src="/images/partners/1.webp" alt="" class="partners__slider-card-image">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="partners__slider-card">
                            <img src="/images/partners/2.webp" alt="" class="partners__slider-card-image">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="partners__slider-card">
                            <img src="/images/partners/3.webp" alt="" class="partners__slider-card-image">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="partners__slider-card">
                            <img src="/images/partners/4.webp" alt="" class="partners__slider-card-image">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="partners__slider-card">
                            <img src="/images/partners/5.webp" alt="" class="partners__slider-card-image">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="partners__slider-card">
                            <img src="/images/partners/6.webp" alt="" class="partners__slider-card-image">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="partners__slider-card">
                            <img src="/images/partners/7.webp" alt="" class="partners__slider-card-image">
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <div class="partners__bottom-row">
            <div class="partners__pagination">

            </div>
            <div class="partners__arrows">
                <button class="partners__arrows-btn partners__arrows-btn--prev" type="button">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#arrow-left"></use>
                    </svg>
                </button>
                <button class="partners__arrows-btn partners__arrows-btn--next" type="button">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>