<section class="about">
    <div class="about__top">
        <div class="subservice-detail__top-inner">
            <div class="breadcrumbs">
                <a href="#">
                    Главная
                </a>

            </div>
            <h1 class="subservice-detail__heading">
                О нас
            </h1>
            <ul class="about__tags-list">
                <li class="about__tags-list-item">
                    <a href="#" class="about__tags-link">
                        Об агентстве
                    </a>
                </li>
                <li class="about__tags-list-item">
                    <a href="#" class="about__tags-link">
                        Сотрудничество
                    </a>
                </li>
                <li class="about__tags-list-item">
                    <a href="#" class="about__tags-link active">
                        Наши партнеры
                    </a>
                </li>
                <li class="about__tags-list-item">
                    <a href="#" class="about__tags-link">
                        Документы
                    </a>
                </li>
                <li class="about__tags-list-item">
                    <a href="#" class="about__tags-link">
                        Вакансии
                    </a>
                </li>
                <li class="about__tags-list-item">
                    <a href="#" class="about__tags-link">
                        Деятельность в области информационных технологий
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="about__bottom">
        <div class="about__bottom-inner">
            <div class="about__agency">
                <h2 class="about__agency-heading">
                    Наши партнеры
                </h2>
                <div class="about__agency-row">
                    <div class="about__agency-text">
                        <p>
                            Наша цель — максимально прозрачная правовая среда для комфортного ведения бизнеса в России.
                            Мы поддерживаем государственные органы и публичные организации, а также развиваем отношения
                            с международными партнерами для улучшения инвестиционного климата в стране.
                        </p>
                    </div>
                    <a href="https://www.youtube.com/watch?v=MdvzlDIdQ0o&ab_channel=CosdenSolutions"
                        class="about__video" data-fancybox="">
                        <img src="/images/video-preview.webp" alt="" class="about__video-preview">
                        <div class="about__video-play">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#large-play"></use>
                            </svg>
                        </div>
                    </a>
                </div>

            </div>
            <ul class="about__agency-partners-list">
                <li class="about__agency-partners-list-item">
                    <a href="#" class="about__agency-partners-card">
                        <img src="/images/clients/1.webp" alt="" class="about__agency-partners-card-image">
                    </a>
                </li>
                <li class="about__agency-partners-list-item">
                    <a href="#" class="about__agency-partners-card">
                        <img src="/images/clients/2.webp" alt="" class="about__agency-partners-card-image">
                    </a>
                </li>
                <li class="about__agency-partners-list-item">
                    <a href="#" class="about__agency-partners-card">
                        <img src="/images/clients/3.webp" alt="" class="about__agency-partners-card-image">
                    </a>
                </li>
                <li class="about__agency-partners-list-item">
                    <a href="#" class="about__agency-partners-card">
                        <img src="/images/clients/4.webp" alt="" class="about__agency-partners-card-image">
                    </a>
                </li>
                <li class="about__agency-partners-list-item">
                    <a href="#" class="about__agency-partners-card">
                        <img src="/images/clients/5.webp" alt="" class="about__agency-partners-card-image">
                    </a>
                </li>
                <li class="about__agency-partners-list-item">
                    <a href="#" class="about__agency-partners-card">
                        <img src="/images/clients/6.webp" alt="" class="about__agency-partners-card-image">
                    </a>
                </li>
                <li class="about__agency-partners-list-item">
                    <a href="#" class="about__agency-partners-card">
                        <img src="/images/clients/7.webp" alt="" class="about__agency-partners-card-image">
                    </a>
                </li>
                <li class="about__agency-partners-list-item">
                    <a href="#" class="about__agency-partners-card">
                        <img src="/images/clients/8.webp" alt="" class="about__agency-partners-card-image">
                    </a>
                </li>
                <li class="about__agency-partners-list-item">
                    <a href="#" class="about__agency-partners-card">
                        <img src="/images/clients/9.webp" alt="" class="about__agency-partners-card-image">
                    </a>
                </li>
                <li class="about__agency-partners-list-item">
                    <a href="#" class="about__agency-partners-card">
                        <img src="/images/clients/10.webp" alt="" class="about__agency-partners-card-image">
                    </a>
                </li>
                <li class="about__agency-partners-list-item">
                    <a href="#" class="about__agency-partners-card">
                        <img src="/images/clients/11.webp" alt="" class="about__agency-partners-card-image">
                    </a>
                </li>
                <li class="about__agency-partners-list-item">
                    <a href="#" class="about__agency-partners-card">
                        <img src="/images/clients/12.webp" alt="" class="about__agency-partners-card-image">
                    </a>
                </li>
                <li class="about__agency-partners-list-item">
                    <a href="#" class="about__agency-partners-card">
                        <img src="/images/clients/13.webp" alt="" class="about__agency-partners-card-image">
                    </a>
                </li>
                <li class="about__agency-partners-list-item">
                    <a href="#" class="about__agency-partners-card">
                        <img src="/images/clients/14.webp" alt="" class="about__agency-partners-card-image">
                    </a>
                </li>
                <li class="about__agency-partners-list-item">
                    <a href="#" class="about__agency-partners-card">
                        <img src="/images/clients/15.webp" alt="" class="about__agency-partners-card-image">
                    </a>
                </li>
                <li class="about__agency-partners-list-item">
                    <a href="#" class="about__agency-partners-card">
                        <img src="/images/clients/16.webp" alt="" class="about__agency-partners-card-image">
                    </a>
                </li>
                <li class="about__agency-partners-list-item">
                    <a href="#" class="about__agency-partners-card">
                        <img src="/images/clients/17.webp" alt="" class="about__agency-partners-card-image">
                    </a>
                </li>
                <li class="about__agency-partners-list-item">
                    <a href="#" class="about__agency-partners-card">
                        <img src="/images/clients/18.webp" alt="" class="about__agency-partners-card-image">
                    </a>
                </li>
                <li class="about__agency-partners-list-item">
                    <a href="#" class="about__agency-partners-card">
                        <img src="/images/clients/19.webp" alt="" class="about__agency-partners-card-image">
                    </a>
                </li>
                <li class="about__agency-partners-list-item">
                    <a href="#" class="about__agency-partners-card">
                        <img src="/images/clients/20.webp" alt="" class="about__agency-partners-card-image">
                    </a>
                </li>
                <li class="about__agency-partners-list-item">
                    <a href="#" class="about__agency-partners-card">
                        <img src="/images/clients/21.webp" alt="" class="about__agency-partners-card-image">
                    </a>
                </li>
                <li class="about__agency-partners-list-item">
                    <a href="#" class="about__agency-partners-card">
                        <img src="/images/clients/22.webp" alt="" class="about__agency-partners-card-image">
                    </a>
                </li>
            </ul>

            <div class="cases__content">
                <div class="cases__top-row">
                    <h2 class="cases__heading">
                        Кейсы
                    </h2>
                    <a href="#" class="cases__link">
                        Все
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#more-arrow"></use>
                        </svg>
                    </a>
                </div>
                <div class="cases__slider">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="cases__card">
                                    <div class="cases__card-bg">
                                        <img src="/images/cases/1.webp" alt="" class="cases__card-bg-image"
                                            loading="lazy">
                                    </div>
                                    <div class="cases__card-content">
                                        <h3 class="cases__card-title">
                                            Признание недействительной сделки, заключенной под влиянием заблуждения
                                        </h3>
                                        <div class="cases__card-text">
                                            Ерофеева Валентина, Халитова Альбина, Ларионов Алексей
                                        </div>
                                        <div class="cases__card-link">
                                            Читать
                                            <span class="cases__card-link-icon">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#more-arrow"></use>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="cases__card">
                                    <div class="cases__card-bg">
                                        <img src="/images/cases/2.webp" alt="" class="cases__card-bg-image"
                                            loading="lazy">
                                    </div>
                                    <div class="cases__card-content">
                                        <h3 class="cases__card-title">
                                            Выплата вознаграждения по банковской гарантии после отзыва лицензии
                                        </h3>
                                        <div class="cases__card-text">
                                            OOO «Жилищная основа»
                                        </div>
                                        <div class="cases__card-link">
                                            Читать
                                            <span class="cases__card-link-icon">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#more-arrow"></use>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="cases__card">
                                    <div class="cases__card-bg">
                                        <img src="/images/cases/3.webp" alt="" class="cases__card-bg-image"
                                            loading="lazy">
                                    </div>
                                    <div class="cases__card-content">
                                        <h3 class="cases__card-title">
                                            Исполнение добросовестными налогоплательщиками своих обязанностей с
                                            использованием
                                            счетов банка в предбанкротный период
                                        </h3>
                                        <div class="cases__card-text">
                                            OOO «Квант-Гарант», ООО «Элспектр», ООО «Интеграл Сервис», ООО
                                            «Авто-Сити»,
                                            ЧОП
                                            «Сувар», ЧОП «Керпе», ЧОП «Атлант»
                                        </div>
                                        <div class="cases__card-link">
                                            Читать
                                            <span class="cases__card-link-icon">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#more-arrow"></use>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="cases__card">
                                    <div class="cases__card-bg">
                                        <img src="/images/cases/1.webp" alt="" class="cases__card-bg-image"
                                            loading="lazy">
                                    </div>
                                    <div class="cases__card-content">
                                        <h3 class="cases__card-title">
                                            Признание недействительной сделки, заключенной под влиянием заблуждения
                                        </h3>
                                        <div class="cases__card-text">
                                            Ерофеева Валентина, Халитова Альбина, Ларионов Алексей
                                        </div>
                                        <div class="cases__card-link">
                                            Читать
                                            <span class="cases__card-link-icon">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#more-arrow"></use>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="cases__card">
                                    <div class="cases__card-bg">
                                        <img src="/images/cases/2.webp" alt="" class="cases__card-bg-image"
                                            loading="lazy">
                                    </div>
                                    <div class="cases__card-content">
                                        <h3 class="cases__card-title">
                                            Выплата вознаграждения по банковской гарантии после отзыва лицензии
                                        </h3>
                                        <div class="cases__card-text">
                                            OOO «Жилищная основа»
                                        </div>
                                        <div class="cases__card-link">
                                            Читать
                                            <span class="cases__card-link-icon">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#more-arrow"></use>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="cases__card">
                                    <div class="cases__card-bg">
                                        <img src="/images/cases/3.webp" alt="" class="cases__card-bg-image"
                                            loading="lazy">
                                    </div>
                                    <div class="cases__card-content">
                                        <h3 class="cases__card-title">
                                            Исполнение добросовестными налогоплательщиками своих обязанностей с
                                            использованием
                                            счетов банка в предбанкротный период
                                        </h3>
                                        <div class="cases__card-text">
                                            OOO «Квант-Гарант», ООО «Элспектр», ООО «Интеграл Сервис», ООО
                                            «Авто-Сити»,
                                            ЧОП
                                            «Сувар», ЧОП «Керпе», ЧОП «Атлант»
                                        </div>
                                        <div class="cases__card-link">
                                            Читать
                                            <span class="cases__card-link-icon">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#more-arrow"></use>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cases__bottom-row">
                    <div class="cases__pagination cases__pagination--dark">

                    </div>
                    <div class="cases__arrows cases__arrows--dark">
                        <button class="cases__arrows-btn cases__arrows-btn--prev" type="button">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#arrow-left"></use>
                            </svg>
                        </button>
                        <button class="cases__arrows-btn cases__arrows-btn--next" type="button">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>