<section class="products-and-services">
    <div class="products-and-services__top">
        <div class="products-and-services__top-inner">
            <div class="breadcrumbs">
                <a href="#">
                    Главная
                </a>
            </div>
            <h1 class="products-and-services__heading">
                Продукты и услуги
            </h1>
            <ul class="products-and-services__tags-list">
                <li class="products-and-services__tags-list-item">
                    <a href="#" class="products-and-services__tags-link">
                        Эксклюзив
                    </a>
                </li>
                <li class="products-and-services__tags-list-item">
                    <a href="#" class="products-and-services__tags-link active">
                        Продукты
                    </a>
                </li>
                <li class="products-and-services__tags-list-item">
                    <a href="#" class="products-and-services__tags-link">
                        Услуги
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="products-and-services__bottom">
        <div class="products-and-services__bottom-inner">
            <h2 class="products-and-services__inner-heading">
                Продукты
            </h2>
            <div class="products-and-services__text">
                Наши эксклюзивные решения для любых правовых вопросов разработаны специально для того, чтобы
                удовлетворить потребности каждого клиента. Мы предлагаем широкий спектр услуг, включая консультации
                юристов, составление договоров и многое другое. Наши продукты созданы для того, чтобы помочь вам
                получить максимальную отдачу от каждой сделки.
            </div>
            <ul class="products-and-services__products-list">
                <li class="products-and-services__products-list-item">
                    <a href="#" class="products-and-services__products-card">
                        <div class="products-and-services__products-card-bg">
                            <picture>
                                <source srcset="/images/products/1-mobile.webp" media="(max-width: 640px)" />
                                <img src="/images/products/1.webp" alt="MDN"
                                    class="products-and-services__products-card-bg-image" />
                            </picture>
                        </div>
                        <h3 class="products-and-services__products-card-title">
                            Регистрация бизнеса
                            в ОАЭ
                        </h3>
                        <div class="products-and-services__products-card-desc">
                            Открываем новые возможности вашему бизнесу в ОАЭ с безусловным доверием
                            со стороны банков, контрагентов
                            и контролирующих органов.
                        </div>
                        <div class="btn products-and-services__products-card-button">
                            Узнать больше
                        </div>
                    </a>
                </li>
                <li class="products-and-services__products-list-item">
                    <a href="#" class="products-and-services__products-card">
                        <div class="products-and-services__products-card-bg">
                            <picture>
                                <source srcset="/images/products/2-mobile.webp" media="(max-width: 640px)" />
                                <img src="/images/products/2.webp" alt="MDN"
                                    class="products-and-services__products-card-bg-image" />
                            </picture>
                        </div>
                        <h3 class="products-and-services__products-card-title">
                            Приложение
                        </h3>
                        <div class="products-and-services__products-card-desc">
                            Мобильное приложение
                            для юридической поддержки
                            бизнеса.
                        </div>
                        <div class="btn products-and-services__products-card-button">
                            Скачать
                        </div>
                    </a>
                </li>
                <li class="products-and-services__products-list-item">
                    <a href="#"
                        class="products-and-services__products-card products-and-services__products-card--dark products-and-services__products-card--aligned-bottom">
                        <div class="products-and-services__products-card-bg">
                            <picture>
                                <source srcset="/images/products/3-mobile.webp" media="(max-width: 640px)" />
                                <img src="/images/products/3.webp" alt="MDN"
                                    class="products-and-services__products-card-bg-image" />
                            </picture>
                        </div>
                        <h3 class="products-and-services__products-card-title">
                            Бизнес-чекап
                        </h3>
                        <div class="products-and-services__products-card-desc">
                            Всесторонний объективный анализ компании. Разработка индивидуальной стратегии оптимизации
                            ключевых процессов.
                        </div>
                        <div class="btn products-and-services__products-card-button">
                            Узнать больше
                        </div>
                    </a>
                </li>
                <li class="products-and-services__products-list-item">
                    <a href="#" class="products-and-services__products-card">
                        <div class="products-and-services__products-card-bg">
                            <picture>
                                <source srcset="/images/products/4-mobile.webp" media="(max-width: 640px)" />
                                <img src="/images/products/4.webp" alt="MDN"
                                    class="products-and-services__products-card-bg-image" />
                            </picture>
                        </div>
                        <h3 class="products-and-services__products-card-title">
                            Legal Tech кластер «Казань»
                        </h3>
                        <div class="products-and-services__products-card-desc">
                            Первый цифровой кластер в сфере юриспруденции и права на просторах Поволжья.
                        </div>
                        <div class="btn products-and-services__products-card-button">
                            Узнать больше
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>