<section class="services">
    <div class="services__content">
        <div class="services__grid">
            <div class="services__help">
                <h3 class="services__help-heading">
                    Юридическая помощь
                </h3>
                <div class="services__help-list-wrapper">
                    <ul class="services__help-list">
                        <li class="services__help-list-item">
                            <a href="#" class="services__help-card">
                                Банкротство
                            </a>
                        </li>
                        <li class="services__help-list-item">
                            <a href="#" class="services__help-card">
                                Арбитражный процесс
                            </a>
                        </li>
                        <li class="services__help-list-item">
                            <a href="#" class="services__help-card">
                                Трудовое право
                            </a>
                        </li>
                        <li class="services__help-list-item">
                            <a href="#" class="services__help-card">
                                Корпоративное право
                            </a>
                        </li>
                        <li class="services__help-list-item">
                            <a href="#" class="services__help-card">
                                Налоговое консультирование и налоговые споры
                            </a>
                        </li>
                        <li class="services__help-list-item">
                            <a href="#" class="services__help-card">
                                Претензионная стадия, досудебное урегулирование
                            </a>
                        </li>
                        <li class="services__help-list-item">
                            <a href="#" class="services__help-card">
                                Уголовно-правовая защита бизнеса
                            </a>
                        </li>
                        <li class="services__help-list-item">
                            <a href="#" class="services__help-card">
                                Антимонопольное регулирование
                            </a>
                        </li>
                    </ul>
                </div>
                <a href="#" class="btn services__help-link">
                    У меня особый случай
                </a>
            </div>
            <div class="services__app">


                <img src="/images/phone.webp" alt="MDN" class="servies__app-image" />
                <h3 class="services__app-heading">
                    Приложение
                </h3>
                <div class="services__app-text">
                    Мобильное приложение для юридической поддержки бизнеса.
                </div>
                <a href="#" class="btn services__app-link">
                    Скачать
                </a>
            </div>
            <div class="services__checkup">
                <img src="/images/diamond.webp" alt="" class="services__checkup-image">
                <h3 class="services__checkup-heading">
                    Бизнес-чекап
                </h3>
                <div class="services__checkup-text">
                    Всесторонний объективный анализ компании. Разработка индивидуальной стратегии оптимизации ключевых
                    процессов.
                </div>
                <a href="#" class="btn services__checkup-link">
                    Узнать больше
                </a>
            </div>
            <div class="services__registration">
                <img src="/images/registration.webp" alt="" class="services__registration-image">
                <h3 class="services__registration-heading">
                    Регистрация бизнеса в ОАЭ
                </h3>
                <div class="services__registration-text">
                    Открываем новые возможности вашему бизнесу в ОАЭ с безусловным доверием со стороны банков,
                    контрагентов и контролирующих органов.
                </div>
                <a href="#callback-modal" class="btn services__registration-link js-modal-open">
                    Заказать консультацию
                </a>
            </div>
        </div>
    </div>
</section>