<section class="service-detail">
    <div class="service-detail__top">
        <div class="service-detail__top-inner">
            <div class="breadcrumbs">
                <a href="#">
                    Главная
                </a>
                <a href="#">
                    Продукты и услуги
                </a>
                <a href="#">
                    Услуги
                </a>
            </div>
            <h1 class="service-detail__heading">
                Арбитражный процесс
            </h1>

        </div>
    </div>
    <div class="service-detail__bottom">
        <div class="service-detail__bottom-inner">
            <div class="service-detail__subcategories">
                <ul class="service-detail__subcategories-list">
                    <li class="service-detail__subcategories-list-item">
                        <a href="#" class="service-detail__subcategories-link">
                            <h3 class="service-detail__subcategories-link-title">
                                Арбитражный юрист
                            </h3>
                            <div class="service-detail__subcategories-arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#services-card-arrow"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="service-detail__subcategories-list-item">
                        <a href="#" class="service-detail__subcategories-link">
                            <h3 class="service-detail__subcategories-link-title">
                                Представитель
                                в арбитражном суде
                            </h3>
                            <div class="service-detail__subcategories-arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#services-card-arrow"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="service-detail__subcategories-list-item">
                        <a href="#" class="service-detail__subcategories-link">
                            <h3 class="service-detail__subcategories-link-title">
                                Подготовка документов
                                для суда
                            </h3>
                            <div class="service-detail__subcategories-arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#services-card-arrow"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="service-detail__subcategories-list-item">
                        <a href="#" class="service-detail__subcategories-link">
                            <h3 class="service-detail__subcategories-link-title">
                                Услуги представителя
                                в арбитражном суде
                            </h3>
                            <div class="service-detail__subcategories-arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#services-card-arrow"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="service-detail__subcategories-list-item">
                        <a href="#" class="service-detail__subcategories-link">
                            <h3 class="service-detail__subcategories-link-title">
                                Подготовка документов
                                для арбитражного суда
                            </h3>
                            <div class="service-detail__subcategories-arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#services-card-arrow"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="service-detail__subcategories-list-item">
                        <a href="#" class="service-detail__subcategories-link">
                            <h3 class="service-detail__subcategories-link-title">
                                Представительство
                                в арбитражном суде Казани
                            </h3>
                            <div class="service-detail__subcategories-arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#services-card-arrow"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="service-detail__subcategories-list-item">
                        <a href="#" class="service-detail__subcategories-link">
                            <h3 class="service-detail__subcategories-link-title">
                                Изучение дела, анализ сложившейся практики разрешения подобных споров и выбор способа
                                реализации поставленной задачи
                            </h3>
                            <div class="service-detail__subcategories-arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#services-card-arrow"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="service-detail__subcategories-list-item">
                        <a href="#" class="service-detail__subcategories-link">
                            <h3 class="service-detail__subcategories-link-title">
                                Выработка «правильной» стратегии поведения
                                в арбитражном суде
                            </h3>
                            <div class="service-detail__subcategories-arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#services-card-arrow"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="service-detail__subcategories-list-item">
                        <a href="#" class="service-detail__subcategories-link">
                            <h3 class="service-detail__subcategories-link-title">
                                Арбитражный юрист
                            </h3>
                            <div class="service-detail__subcategories-arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#services-card-arrow"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="service-detail__subcategories-list-item">
                        <a href="#" class="service-detail__subcategories-link">
                            <h3 class="service-detail__subcategories-link-title">
                                Представитель
                                в арбитражном суде
                            </h3>
                            <div class="service-detail__subcategories-arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#services-card-arrow"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="service-detail__subcategories-list-item">
                        <a href="#" class="service-detail__subcategories-link">
                            <h3 class="service-detail__subcategories-link-title">
                                Подготовка документов
                                для суда
                            </h3>
                            <div class="service-detail__subcategories-arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#services-card-arrow"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="service-detail__subcategories-list-item">
                        <a href="#" class="service-detail__subcategories-link">
                            <h3 class="service-detail__subcategories-link-title">
                                Услуги представителя
                                в арбитражном суде
                            </h3>
                            <div class="service-detail__subcategories-arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#services-card-arrow"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="service-detail__subcategories-list-item">
                        <a href="#" class="service-detail__subcategories-link">
                            <h3 class="service-detail__subcategories-link-title">
                                Подготовка документов
                                для арбитражного суда
                            </h3>
                            <div class="service-detail__subcategories-arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#services-card-arrow"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="service-detail__subcategories-list-item">
                        <a href="#" class="service-detail__subcategories-link">
                            <h3 class="service-detail__subcategories-link-title">
                                Представительство
                                в арбитражном суде Казани
                            </h3>
                            <div class="service-detail__subcategories-arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#services-card-arrow"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="service-detail__subcategories-list-item">
                        <a href="#" class="service-detail__subcategories-link">
                            <h3 class="service-detail__subcategories-link-title">
                                Изучение дела, анализ сложившейся практики разрешения подобных споров и выбор способа
                                реализации поставленной задачи
                            </h3>
                            <div class="service-detail__subcategories-arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#services-card-arrow"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="service-detail__subcategories-list-item">
                        <a href="#" class="service-detail__subcategories-link">
                            <h3 class="service-detail__subcategories-link-title">
                                Выработка «правильной» стратегии поведения
                                в арбитражном суде
                            </h3>
                            <div class="service-detail__subcategories-arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#services-card-arrow"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                </ul>
                <button class="service-detail__subcategories-show-more js-show-more" type="button">
                    <span>
                        Показать еще
                    </span>
                    <span>
                        Скрыть
                    </span>

                </button>
            </div>
            <div class="service-detail__text-content">
                <h3>
                    Арбитражные споры: как увеличить вероятность победы?
                </h3>
                <p>
                    Споры, которые предприятия не могут решить самостоятельно, изучает арбитражный суд. Такие
                    разбирательства имеют множество особенностей, отличающих их от рядовых гражданских дел. Поэтому и
                    юрист, представляющий предприятия в арбитраже, не может быть обычным — он должен специализироваться
                    на решении проблем, возникающих в ходе ведения компанией предпринимательской деятельности.
                </p>
                <h3>
                    Когда может потребоваться правовая помощь по спорам в арбитражном суде?
                </h3>
                <p>
                    Юрлица обязаны соблюдать досудебный порядок ликвидации конфликтов посредством переговоров и
                    составления претензионных писем.
                </p>
                <p>
                    Если мирно договориться не получилось, обращение в суд станет единственно возможным способом решения
                    проблемы. Через арбитраж можно добиться:
                </p>
                <ul>
                    <li>
                        возврата долга
                    </li>
                    <li>
                        наложения штрафов
                    </li>
                    <li>
                        признания сделки — недействительной, применение последствий недействительности сделки
                    </li>
                    <li>
                        расторжения договоров
                    </li>
                    <li>
                        внесение изменений в договоры
                    </li>
                    <li>
                        оспаривания решений госорганов
                    </li>
                    <li>
                        проведения процедуры банкротства и т.д.
                    </li>
                </ul>
                <h3>
                    Как работает юрист-арбитражник?
                </h3>
                <p>
                    Работа правозащитника включает в себя:
                </p>
                <ul>
                    <li>
                        анализ обстоятельств дела
                    </li>
                    <li>
                        работа с документацией
                    </li>
                    <li>
                        оценка перспектив дела
                    </li>
                    <li>
                        подготовка документов для представления суд
                    </li>
                    <li>
                        разработка стратегии ведения дела в суде
                    </li>
                    <li>
                        участие во всех этапах разбирательства
                    </li>
                    <li>
                        при необходимости — обжалование судебных актов
                    </li>
                </ul>
                <p>
                    Арбитражный юрист предоставляет услуги как в комплексе, так и по отдельности — все зависит от
                    потребностей вашей компании. Цена обращения в арбитражный суд рассчитывается, исходя из объема,
                    сложности и срочности предоставляемых услуг.
                </p>
                <h3>
                    Наши юристы
                </h3>
                <p>
                    Входящие в штат агентства «АргументЪ» юристы по арбитражным спорам готовы помочь предпринимателям с
                    различной специализацией. Мы не разделяем бизнес на малый и крупный — для нас важна каждая задача,
                    поставленная клиентами.
                </p>
                <h3>
                    Результаты работы
                </h3>
                <p>
                    Привлечение квалифицированного правозащитника к ведению арбитражных юридических споров позволяет
                    предприятию решить сразу несколько задач:
                </p>
                <ul>
                    <li>
                        увеличить вероятность положительного исхода дела
                    </li>
                    <li>
                        сэкономить деньги — если суд примет позицию компании, все денежные вопросы будут решены в ее
                        пользу, при этом подавать апелляцию или кассацию и тратить дополнительные средства не придется
                    </li>
                    <li>
                        сэкономить деньги — если суд примет позицию компании, все денежные вопросы будут решены в ее
                        пользу, при этом подавать апелляцию или кассацию и тратить дополнительные средства не придется
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>