<section class="services">
    <div class="services__content">
        <div class="services__grid">
            <div class="services__help">
                <h3 class="services__help-heading">
                    Юридическая помощь
                </h3>
                <ul class="services__help-list">
                    <li class="services__help-list-item">
                        <div class="services__help-card">
                            Банкротство
                        </div>
                    </li>
                    <li class="services__help-list-item">
                        <div class="services__help-card">
                            Арбитражный процесс
                        </div>
                    </li>
                    <li class="services__help-list-item">
                        <div class="services__help-card">
                            Трудовое право
                        </div>
                    </li>
                    <li class="services__help-list-item">
                        <div class="services__help-card">
                            Корпоративное право
                        </div>
                    </li>
                    <li class="services__help-list-item">
                        <div class="services__help-card">
                            Налоговое консультирование и налоговые споры
                        </div>
                    </li>
                    <li class="services__help-list-item">
                        <div class="services__help-card">
                            Претензионная стадия, досудебное урегулирование
                        </div>
                    </li>
                    <li class="services__help-list-item">
                        <div class="services__help-card">
                            Уголовно-правовая защита бизнеса
                        </div>
                    </li>
                    <li class="services__help-list-item">
                        <div class="services__help-card">
                            Антимонопольное регулирование
                        </div>
                    </li>
                </ul>
                <a href="#" class="btn services__help-link">
                    У меня особый случай
                </a>
            </div>
            <div class="services__app">


                <picture>
                    <source srcset="/images/phone-laptop.webp" media="(max-width: 1439px)" />
                    <img src="/images/phone.webp" alt="MDN" class="servies__app-image" />
                </picture>
                <h3 class="services__app-heading">
                    Приложение
                </h3>
                <div class="services__app-text">
                    Мобильное приложение для юридической поддержки бизнеса.
                </div>
                <a href="#" class="btn services__app-link">
                    Скачать
                </a>
            </div>
            <div class="services__checkup">
                <picture>
                    <source srcset="/images/checkup-laptop.webp" media="(max-width: 1439px)" />
                    <img src="/images/checkup.webp" alt="MDN" class="services__checkup-image" />
                </picture>
                <h3 class="services__checkup-heading">
                    Бизнес-чекап
                </h3>
                <div class="services__checkup-text">
                    Всесторонний объективный анализ компании. Разработка индивидуальной стратегии оптимизации ключевых
                    процессов.
                </div>
                <a href="#" class="btn services__checkup-link">
                    Узнать больше
                </a>
            </div>
            <div class="services__registration">
                <img src="/images/registration.webp" alt="" class="services__registration-image">
                <h3 class="services__registration-heading">
                    Регистрация бизнеса в ОАЭ
                </h3>
                <div class="services__registration-text">
                    Открываем новые возможности вашему бизнесу в ОАЭ с безусловным доверием со стороны банков,
                    контрагентов и контролирующих органов.
                </div>
                <a href="#" class="btn services__registration-link">
                    Заказать консультацию
                </a>
            </div>
        </div>
    </div>
</section>