<section class="products-and-services">
    <div class="products-and-services__top">
        <div class="products-and-services__top-inner">
            <div class="breadcrumbs">
                <a href="#">
                    Главная
                </a>
            </div>
            <h1 class="products-and-services__heading">
                Продукты и услуги
            </h1>
            <ul class="products-and-services__tags-list">
                <li class="products-and-services__tags-list-item">
                    <a href="#" class="products-and-services__tags-link">
                        Эксклюзив
                    </a>
                </li>
                <li class="products-and-services__tags-list-item">
                    <a href="#" class="products-and-services__tags-link">
                        Продукты
                    </a>
                </li>
                <li class="products-and-services__tags-list-item">
                    <a href="#" class="products-and-services__tags-link active">
                        Услуги
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="products-and-services__bottom">
        <div class="products-and-services__bottom-inner">
            <h2 class="products-and-services__inner-heading">
                Услуги
            </h2>
            <div class="products-and-services__text">
                Наши эксклюзивные решения для любых правовых вопросов разработаны специально для того, чтобы
                удовлетворить потребности каждого клиента. Мы предлагаем широкий спектр услуг, включая консультации
                юристов, составление договоров и многое другое. Наши продукты созданы для того, чтобы помочь вам
                получить максимальную отдачу от каждой сделки.
            </div>
            <ul class="products-and-services__services-list">
                <li class="products-and-services__services-list-item">
                    <a href="#" class="products-and-services__services-card">
                        <h3 class="products-and-services__services-card-title">
                            Банкротство
                        </h3>
                        <div class="products-and-services__services-card-arrow">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#services-card-arrow"></use>
                            </svg>
                        </div>
                    </a>
                </li>
                <li class="products-and-services__services-list-item">
                    <a href="#" class="products-and-services__services-card">
                        <h3 class="products-and-services__services-card-title">
                            Арбитражный процесс
                        </h3>
                        <div class="products-and-services__services-card-arrow">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#services-card-arrow"></use>
                            </svg>
                        </div>
                    </a>
                </li>
                <li class="products-and-services__services-list-item">
                    <a href="#" class="products-and-services__services-card">
                        <h3 class="products-and-services__services-card-title">
                            Трудовое право
                        </h3>
                        <div class="products-and-services__services-card-arrow">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#services-card-arrow"></use>
                            </svg>
                        </div>
                    </a>
                </li>
                <li class="products-and-services__services-list-item">
                    <a href="#" class="products-and-services__services-card">
                        <h3 class="products-and-services__services-card-title">
                            Корпоративное право
                        </h3>
                        <div class="products-and-services__services-card-arrow">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#services-card-arrow"></use>
                            </svg>
                        </div>
                    </a>
                </li>
                <li class="products-and-services__services-list-item">
                    <a href="#" class="products-and-services__services-card">
                        <h3 class="products-and-services__services-card-title">
                            Налоговое консультирование и налоговые споры
                        </h3>
                        <div class="products-and-services__services-card-arrow">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#services-card-arrow"></use>
                            </svg>
                        </div>
                    </a>
                </li>
                <li class="products-and-services__services-list-item">
                    <a href="#" class="products-and-services__services-card">
                        <h3 class="products-and-services__services-card-title">
                            Претензионная стадия, досудебное урегулирование
                        </h3>
                        <div class="products-and-services__services-card-arrow">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#services-card-arrow"></use>
                            </svg>
                        </div>
                    </a>
                </li>
                <li class="products-and-services__services-list-item">
                    <a href="#" class="products-and-services__services-card">
                        <h3 class="products-and-services__services-card-title">
                            Уголовно-правовая защита бизнеса
                        </h3>
                        <div class="products-and-services__services-card-arrow">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#services-card-arrow"></use>
                            </svg>
                        </div>
                    </a>
                </li>
                <li class="products-and-services__services-list-item">
                    <a href="#" class="products-and-services__services-card">
                        <h3 class="products-and-services__services-card-title">
                            Антимонопольное регулирование
                        </h3>
                        <div class="products-and-services__services-card-arrow">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#services-card-arrow"></use>
                            </svg>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>