<section class="subservice-detail">
    <div class="subservice-detail__top">
        <div class="subservice-detail__top-inner">
            <div class="breadcrumbs">
                <a href="#">
                    Главная
                </a>
                <a href="#">
                    Продукты и услуги
                </a>
                <a href="#">
                    Услуги
                </a>
            </div>
            <h1 class="subservice-detail__heading">
                Юридическое сопровождение бизнеса
            </h1>
        </div>
    </div>
    <div class="subservice-detail__bottom">
        <div class="subservice-detail__bottom-inner">
            <div class="subservice-detail__layout">
                <div class="subservice-detail__main">
                    <div class="subservice-detail__text-content">
                        <h3>
                            Что такое юридическое сопровождение бизнеса?
                        </h3>
                        <p>
                            Потребность в грамотном правовом сопровождении есть у любого бизнеса — пренебрежение этим
                            правилом непременно повлечет за собой денежные потери. Согласование договоров, не
                            соблюдающих интересы предпринимателя, пропуск сроков внесения в бюджет обязательных
                            платежей, нарушение прав работников компании — перечень возможных последствий работы без
                            юриста является весьма обширным. Чтобы избежать проблем, связанных с несоблюдением
                            законодательства (умышленным или случайным), стоит воспользоваться помощью юриста.
                        </p>
                        <h3>
                            Что дает юридическое сопровождение бизнеса?
                        </h3>
                        <p>
                            ЮРИДИЧЕСКОЕ СОПРОВОЖДЕНИЕ БИЗНЕСА позволяет сэкономить на собственном штате юристов,
                            отказаться от затрат на оборудование рабочих мест и приобретение программных продуктов,
                            оптимизировать страховые и пенсионные взносы и налоговое бремя.
                        </p>
                        <h3>
                            Преимущества юридического сопровождения бизнеса
                        </h3>
                        <ol>
                            <li>
                                <p>
                                    <b>
                                        Штат юристов по цене одного
                                    </b>
                                </p>
                                <p>
                                    Все юридические вопросы вашей организации будут решать опытные, узкопрофильные
                                    профессионалы, а не уставший и бегущий одновременно в разные стороны «мастер на все
                                    руки». Наши сотрудники — специалисты в различных отраслях права — будут максимально
                                    сосредоточены на решении конкретных задач вашего бизнеса. При таком подходе
                                    результат точно не заставит себя долго ждать.
                                </p>
                            </li>
                            <li>
                                <p>
                                    <b>
                                        Собственный юридический департамент без кадровых и административных забот
                                    </b>
                                </p>
                                <p>
                                    Мы обеспечим квалифицированную юридическую поддержку вашего бизнеса своей командной
                                    слаженной работой. Сообщество профессионалов будет нацелено на решение всех проблем,
                                    избавив вас от головной боли по поводу больничных листов, личных проблем и
                                    опозданий, кадровой текучки, повышения квалификации сотрудников и др.
                                </p>
                            </li>
                            <li>
                                <p>
                                    <b>
                                        Меньше расходов и больше результата
                                    </b>
                                </p>
                                <p>
                                    Обращаясь к нам, вы экономите на налогах и взносах, на соц. пакете, ежемесячной
                                    оплате и обслуживании правовых баз, на стоимости и содержании рабочего места. А
                                    позиционирование оплаты юридического сопровождения в качестве расходов снижает
                                    налогооблагаемую базу вашего предприятия. В сухом остатке — сокращение расходов и
                                    однозначное повышение качества работы организации в юридическом направлении.
                                </p>
                            </li>
                            <li>
                                <p>
                                    <b>
                                        Свой профессионал в каждом вопросе
                                    </b>
                                </p>
                                <p>
                                    Специализация — залог эффективности. Сложно заполнять отчетные документы и выступать
                                    в суде одинаково хорошо. Поэтому для решения конкретных поставленных задач мы
                                    привлекаем наиболее опытных юристов, специализирующихся в данных правовых отраслях.
                                </p>
                            </li>
                            <li>
                                <p>
                                    <b>
                                        Удобные условия сотрудничества
                                    </b>
                                </p>
                                <p>
                                    Перечень услуг и наиболее предпочтительный для вас вариант обслуживания вы выбираете
                                    сами. Фиксированная стоимость пакета услуг избавляет вас от неожиданностей в
                                    процессе работы и позволяет планировать расходы. Прозрачно, честно, результативно.
                                    Всё, как вы любите. А мы — умеем.
                                </p>
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="subservice-detail__sidebar">
                    <div class="subservice-detail__get-consultation">
                        <h3 class="subservice-detail__get-consultation-heading">
                            Получите консультацию бесплатно
                        </h3>
                        <div class="subservice-detail__get-consultation-text">
                            Мы готовы бесплатно проконсультировать вас по вопросам выбора пакета требуемых услуг и
                            оценить объем работы.
                        </div>
                        <a href="#callback-modal" class="btn subservice-detail__get-link js-modal-open">
                            Оставить заявку
                        </a>
                    </div>
                    <a href="https://www.youtube.com/watch?v=MdvzlDIdQ0o&ab_channel=CosdenSolutions"
                        class="subservice-detail__video" data-fancybox="">
                        <img src="/images/video-preview.webp" alt="" class="subservice-detail__video-preview">
                        <div class="subservice-detail__video-play">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#large-play"></use>
                            </svg>
                        </div>
                    </a>
                </div>
            </div>
            <div class="subservice-detail__tariffs">
                <h2 class="subservice-detail__tariffs-heading">
                    Что включает в себя юридическое сопровождение?
                </h2>
                <div class="subservice-detail__tariffs-table">
                    <table>
                        <thead>
                            <tr>
                                <th>

                                </th>
                                <th>
                                    Начало
                                </th>
                                <th>
                                    Стратегия
                                </th>
                                <th>
                                    Бизнес
                                </th>
                            </tr>
                            <tr>
                                <th>

                                </th>
                                <th>
                                    <em>
                                        39 900 ₽ в месяц
                                    </em>
                                </th>
                                <th>
                                    <em>
                                        59 900 ₽ в месяц
                                    </em>
                                </th>
                                <th>
                                    <em>
                                        79 900 ₽ в месяц
                                    </em>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    КОНСУЛЬТАЦИИ: Устные и письменные консультации по телефону
                                </td>
                                <td>
                                    3
                                </td>
                                <td>
                                    5
                                </td>
                                <td>
                                    10
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    КОНСУЛЬТАЦИИ: Подготовка юридических заключений
                                </td>
                                <td>
                                    2
                                </td>
                                <td>
                                    4
                                </td>
                                <td>
                                    6
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    КОНСУЛЬТАЦИИ: Предоставление актуальной информации об изменениях в законодательстве
                                </td>
                                <td>
                                    2
                                </td>
                                <td>
                                    Без ограничений
                                </td>
                                <td>
                                    Без ограничений
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    КОНСУЛЬТАЦИИ: Предоставление нормативно - правового акта
                                </td>
                                <td>

                                    Без ограничений

                                </td>
                                <td>

                                    Без ограничений

                                </td>
                                <td>

                                    Без ограничений

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    КОНСУЛЬТАЦИИ: Проверка контрагентов
                                </td>
                                <td>

                                    5

                                </td>
                                <td>

                                    Без ограничений

                                </td>
                                <td>

                                    Без ограничений

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    РАБОТА С ДОГОВОРАМИ: Разработка договора средней сложности
                                </td>
                                <td>

                                    3

                                </td>
                                <td>

                                    5

                                </td>
                                <td>

                                    8

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    РАБОТА С ДОГОВОРАМИ: Юридическая экспертиза договоров, соглашений, протоколов
                                    разногласий
                                </td>
                                <td>

                                    3

                                </td>
                                <td>

                                    5

                                </td>
                                <td>

                                    10

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    РАБОТА С ДОГОВОРАМИ: Разработка нетиповых договоров
                                </td>
                                <td>

                                    1

                                </td>
                                <td>

                                    3

                                </td>
                                <td>

                                    5

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    РЕГИСТРАЦИОННЫЕ УСЛУГИ: Подготовка изменений в ЕГРЮЛ и учредительных документах 1
                                </td>
                                <td>

                                    —

                                </td>
                                <td>

                                    —

                                </td>
                                <td>

                                    1

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    РЕГИСТРАЦИОННЫЕ УСЛУГИ: Экспертиза учредительных документов, решений/ протоколов
                                    участников
                                </td>
                                <td>

                                    1

                                </td>
                                <td>

                                    1

                                </td>
                                <td>

                                    2

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    ПРЕТЕНЗИОННАЯ РАБОТА: Подготовка претензии
                                </td>
                                <td>

                                    2

                                </td>
                                <td>

                                    5

                                </td>
                                <td>

                                    10

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    ПРЕТЕНЗИОННАЯ РАБОТА: Подготовка ответа на претензию
                                </td>
                                <td>

                                    2

                                </td>
                                <td>

                                    5

                                </td>
                                <td>

                                    10

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    ИСКОВОЕ ПРОИЗВОДСТВО: Подготовка искового заявления
                                </td>
                                <td>

                                    —

                                </td>
                                <td>

                                    2

                                </td>
                                <td>

                                    3

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    ИСКОВОЕ ПРОИЗВОДСТВО: Подготовка отзыва на исковое заявления
                                </td>
                                <td>

                                    —

                                </td>
                                <td>

                                    2

                                </td>
                                <td>

                                    5

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    ИСКОВОЕ ПРОИЗВОДСТВО: Подготовка ходатайства
                                </td>
                                <td>

                                    —

                                </td>
                                <td>

                                    2

                                </td>
                                <td>

                                    5

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    ИСКОВОЕ ПРОИЗВОДСТВО: Изучение материалов дела
                                </td>
                                <td>

                                    —

                                </td>
                                <td>

                                    1

                                </td>
                                <td>

                                    2

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Представительство в суде по арбитражным, гражданским, административным делам
                                </td>
                                <td>

                                    —

                                </td>
                                <td>

                                    2

                                </td>
                                <td>

                                    4

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    ИСПОЛНИТЕЛЬНОЕ ПРОИЗВОДСТВО: Возбуждение исполнительного производства
                                </td>
                                <td>

                                    —

                                </td>
                                <td>

                                    1

                                </td>
                                <td>

                                    2

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    ИСПОЛНИТЕЛЬНОЕ ПРОИЗВОДСТВО: Контроль исполнительного производства
                                </td>
                                <td>

                                    —

                                </td>
                                <td>

                                    Без ограничений

                                </td>
                                <td>

                                    Без ограничений

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    ВЕДЕНИЕ ПЕРЕГОВОРОВ: Представление интересов компании на переговорах с
                                    контрагентами, в государственных организациях, в т.ч. при проверках, проводимых
                                    контролирующими органами
                                </td>
                                <td>

                                    —

                                </td>
                                <td>

                                    1

                                </td>
                                <td>

                                    2

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    ВЕДЕНИЕ ПЕРЕГОВОРОВ: Звонок, электронное письмо юриста от компании
                                </td>
                                <td>

                                    2

                                </td>
                                <td>

                                    4

                                </td>
                                <td>

                                    10

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    КАДРОВАЯ РАБОТА: Разработка локальных нормативных актов
                                </td>
                                <td>

                                    1

                                </td>
                                <td>

                                    3

                                </td>
                                <td>

                                    5

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    КАДРОВАЯ РАБОТА: Экспертиза локальных нормативных актов применительно к Вашему
                                    бизнесу
                                </td>
                                <td>

                                    2

                                </td>
                                <td>

                                    4

                                </td>
                                <td>

                                    8

                                </td>
                            </tr>

                            <tr>
                                <td>
                                    Другие вопросы
                                </td>
                                <td>

                                    3

                                </td>
                                <td>

                                    7

                                </td>
                                <td>

                                    13

                                </td>
                            </tr>
                            <tr>
                                <td>

                                </td>
                                <td>
                                    <a href="#callback-modal" class="js-modal-open">
                                        Заказать
                                    </a>
                                </td>
                                <td>
                                    <a href="#callback-modal" class="js-modal-open">
                                        Заказать
                                    </a>
                                </td>
                                <td>
                                    <a href="#callback-modal" class="js-modal-open">
                                        Заказать
                                    </a>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>


            <div class="cases__content">
                <div class="cases__top-row">
                    <h2 class="cases__heading">
                        Наши кейсы в 24 отраслях
                    </h2>
                    <a href="#" class="cases__link">
                        Все
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#more-arrow"></use>
                        </svg>
                    </a>
                </div>
                <div class="cases__slider">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="cases__card">
                                    <div class="cases__card-bg">
                                        <img src="/images/cases/1.webp" alt="" class="cases__card-bg-image"
                                            loading="lazy">
                                    </div>
                                    <div class="cases__card-content">
                                        <h3 class="cases__card-title">
                                            Признание недействительной сделки, заключенной под влиянием заблуждения
                                        </h3>
                                        <div class="cases__card-text">
                                            Ерофеева Валентина, Халитова Альбина, Ларионов Алексей
                                        </div>
                                        <div class="cases__card-link">
                                            Читать
                                            <span class="cases__card-link-icon">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#more-arrow"></use>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="cases__card">
                                    <div class="cases__card-bg">
                                        <img src="/images/cases/2.webp" alt="" class="cases__card-bg-image"
                                            loading="lazy">
                                    </div>
                                    <div class="cases__card-content">
                                        <h3 class="cases__card-title">
                                            Выплата вознаграждения по банковской гарантии после отзыва лицензии
                                        </h3>
                                        <div class="cases__card-text">
                                            OOO «Жилищная основа»
                                        </div>
                                        <div class="cases__card-link">
                                            Читать
                                            <span class="cases__card-link-icon">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#more-arrow"></use>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="cases__card">
                                    <div class="cases__card-bg">
                                        <img src="/images/cases/3.webp" alt="" class="cases__card-bg-image"
                                            loading="lazy">
                                    </div>
                                    <div class="cases__card-content">
                                        <h3 class="cases__card-title">
                                            Исполнение добросовестными налогоплательщиками своих обязанностей с
                                            использованием
                                            счетов банка в предбанкротный период
                                        </h3>
                                        <div class="cases__card-text">
                                            OOO «Квант-Гарант», ООО «Элспектр», ООО «Интеграл Сервис», ООО «Авто-Сити»,
                                            ЧОП
                                            «Сувар», ЧОП «Керпе», ЧОП «Атлант»
                                        </div>
                                        <div class="cases__card-link">
                                            Читать
                                            <span class="cases__card-link-icon">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#more-arrow"></use>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="cases__card">
                                    <div class="cases__card-bg">
                                        <img src="/images/cases/1.webp" alt="" class="cases__card-bg-image"
                                            loading="lazy">
                                    </div>
                                    <div class="cases__card-content">
                                        <h3 class="cases__card-title">
                                            Признание недействительной сделки, заключенной под влиянием заблуждения
                                        </h3>
                                        <div class="cases__card-text">
                                            Ерофеева Валентина, Халитова Альбина, Ларионов Алексей
                                        </div>
                                        <div class="cases__card-link">
                                            Читать
                                            <span class="cases__card-link-icon">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#more-arrow"></use>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="cases__card">
                                    <div class="cases__card-bg">
                                        <img src="/images/cases/2.webp" alt="" class="cases__card-bg-image"
                                            loading="lazy">
                                    </div>
                                    <div class="cases__card-content">
                                        <h3 class="cases__card-title">
                                            Выплата вознаграждения по банковской гарантии после отзыва лицензии
                                        </h3>
                                        <div class="cases__card-text">
                                            OOO «Жилищная основа»
                                        </div>
                                        <div class="cases__card-link">
                                            Читать
                                            <span class="cases__card-link-icon">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#more-arrow"></use>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="cases__card">
                                    <div class="cases__card-bg">
                                        <img src="/images/cases/3.webp" alt="" class="cases__card-bg-image"
                                            loading="lazy">
                                    </div>
                                    <div class="cases__card-content">
                                        <h3 class="cases__card-title">
                                            Исполнение добросовестными налогоплательщиками своих обязанностей с
                                            использованием
                                            счетов банка в предбанкротный период
                                        </h3>
                                        <div class="cases__card-text">
                                            OOO «Квант-Гарант», ООО «Элспектр», ООО «Интеграл Сервис», ООО «Авто-Сити»,
                                            ЧОП
                                            «Сувар», ЧОП «Керпе», ЧОП «Атлант»
                                        </div>
                                        <div class="cases__card-link">
                                            Читать
                                            <span class="cases__card-link-icon">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#more-arrow"></use>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cases__bottom-row">
                    <div class="cases__pagination cases__pagination--dark">

                    </div>
                    <div class="cases__arrows cases__arrows--dark">
                        <button class="cases__arrows-btn cases__arrows-btn--prev" type="button">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#arrow-left"></use>
                            </svg>
                        </button>
                        <button class="cases__arrows-btn cases__arrows-btn--next" type="button">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>


            <div class="subservice-detail__partners">
                <div class="subservice-detail__partners-top-row">
                    <h2 class="subservice-detail__partners-heading">
                        Наши партнеры
                    </h2>

                    <a href="#" class="subservice-detail__partners-link">
                        Все
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#more-arrow"></use>
                        </svg>
                    </a>
                </div>
                <div class="subservice-detail__partners-slider">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="subservice-detail__partners-slider-card">
                                    <img src="/images/partners/1.webp" alt=""
                                        class="subservice-detail__partners-slider-card-image">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="subservice-detail__partners-slider-card">
                                    <img src="/images/partners/2.webp" alt=""
                                        class="subservice-detail__partners-slider-card-image">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="subservice-detail__partners-slider-card">
                                    <img src="/images/partners/3.webp" alt=""
                                        class="subservice-detail__partners-slider-card-image">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="subservice-detail__partners-slider-card">
                                    <img src="/images/partners/4.webp" alt=""
                                        class="subservice-detail__partners-slider-card-image">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="subservice-detail__partners-slider-card">
                                    <img src="/images/partners/5.webp" alt=""
                                        class="subservice-detail__partners-slider-card-image">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="subservice-detail__partners-slider-card">
                                    <img src="/images/partners/6.webp" alt=""
                                        class="subservice-detail__partners-slider-card-image">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="subservice-detail__partners-slider-card">
                                    <img src="/images/partners/7.webp" alt=""
                                        class="subservice-detail__partners-slider-card-image">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="subservice-detail__partners-slider-card">
                                    <img src="/images/partners/1.webp" alt=""
                                        class="subservice-detail__partners-slider-card-image">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="subservice-detail__partners-slider-card">
                                    <img src="/images/partners/2.webp" alt=""
                                        class="subservice-detail__partners-slider-card-image">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="subservice-detail__partners-slider-card">
                                    <img src="/images/partners/3.webp" alt=""
                                        class="subservice-detail__partners-slider-card-image">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="subservice-detail__partners-slider-card">
                                    <img src="/images/partners/4.webp" alt=""
                                        class="subservice-detail__partners-slider-card-image">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="subservice-detail__partners-slider-card">
                                    <img src="/images/partners/5.webp" alt=""
                                        class="subservice-detail__partners-slider-card-image">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="subservice-detail__partners-slider-card">
                                    <img src="/images/partners/6.webp" alt=""
                                        class="subservice-detail__partners-slider-card-image">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="subservice-detail__partners-slider-card">
                                    <img src="/images/partners/7.webp" alt=""
                                        class="subservice-detail__partners-slider-card-image">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="subservice-detail__partners-bottom-row">
                    <div class="subservice-detail__partners-pagination">

                    </div>
                    <div class="subservice-detail__partners-arrows">
                        <button
                            class="subservice-detail__partners-arrows-btn subservice-detail__partners-arrows-btn--prev"
                            type="button">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#arrow-left"></use>
                            </svg>
                        </button>
                        <button
                            class="subservice-detail__partners-arrows-btn subservice-detail__partners-arrows-btn--next"
                            type="button">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>