<section class="about">
    <div class="about__top">
        <div class="subservice-detail__top-inner">
            <div class="breadcrumbs">
                <a href="#">
                    Главная
                </a>

            </div>
            <h1 class="subservice-detail__heading">
                О нас
            </h1>
            <ul class="about__tags-list">
                <li class="about__tags-list-item">
                    <a href="#" class="about__tags-link">
                        Об агентстве
                    </a>
                </li>
                <li class="about__tags-list-item">
                    <a href="#" class="about__tags-link">
                        Сотрудничество
                    </a>
                </li>
                <li class="about__tags-list-item">
                    <a href="#" class="about__tags-link">
                        Наши партнеры
                    </a>
                </li>
                <li class="about__tags-list-item">
                    <a href="#" class="about__tags-link">
                        Документы
                    </a>
                </li>
                <li class="about__tags-list-item">
                    <a href="#" class="about__tags-link active">
                        Вакансии
                    </a>
                </li>
                <li class="about__tags-list-item">
                    <a href="#" class="about__tags-link">
                        Деятельность в области информационных технологий
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="about__bottom">
        <div class="about__bottom-inner">
            <h2 class="about__agency-heading">
                Вакансии
            </h2>
            <div class="about__vacancies">
                <div class="about__vacancies-accordions">
                    <div class="about__vacancies-accordion js-accordion" data-close-other="">
                        <button class="about__vacancies-accordion-btn js-accordion-btn" type="button">
                            <span class="about__vacancies-accordion-btn-text">
                                Юрист
                            </span>
                            <span class="about__vacancies-accordion-btn-arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#accordion-arrow"></use>
                                </svg>
                            </span>
                        </button>
                        <div class="about__vacancies-accordion-content js-accordion-content">
                            <div class="about__vacancies-accordion-content-inner">
                                <div class="about__vacancies-accordion-blocks">
                                    <div class="about__vacancies-accordion-block">
                                        <ul class="about__vacancies-accordion-list">
                                            <li class="about__vacancies-accordion-list-item">
                                                Требуемый опыт работы: 3–6 лет
                                            </li>
                                            <li class="about__vacancies-accordion-list-item">
                                                Полная занятость, полный день
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="about__vacancies-accordion-block">
                                        <h3 class="about__vacancies-accordion-title">
                                            Обязанности
                                        </h3>
                                        <ul class="about__vacancies-accordion-list">
                                            <li class="about__vacancies-accordion-list-item">
                                                Опыт работы от 2 лет на разных участках бухгалтерии в сфере оказания
                                                услуг
                                            </li>
                                            <li class="about__vacancies-accordion-list-item">
                                                Высшее образование
                                            </li>
                                            <li class="about__vacancies-accordion-list-item">
                                                Знание 1С 8.3
                                            </li>
                                            <li class="about__vacancies-accordion-list-item">
                                                Обучаемость, ответственность, внимательность
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="about__vacancies-accordion-block">
                                        <h3 class="about__vacancies-accordion-title">
                                            Задачи
                                        </h3>
                                        <ul class="about__vacancies-accordion-list">

                                            <li class="about__vacancies-accordion-list-item">
                                                Учет первичных документов и прохода / расхода
                                            </li>
                                            <li class="about__vacancies-accordion-list-item">
                                                Формирование и ведение книги покупок и продаж
                                            </li>
                                            <li class="about__vacancies-accordion-list-item">
                                                Акты сверок с поставщиками / покупателями
                                            </li>
                                            <li class="about__vacancies-accordion-list-item">
                                                Работа в банк-клиенте
                                            </li>
                                            <li class="about__vacancies-accordion-list-item">
                                                Начисление заработной платы
                                            </li>
                                            <li class="about__vacancies-accordion-list-item">
                                                Кадровое делопроизводство
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="about__vacancies-accordion-block">
                                        <h3 class="about__vacancies-accordion-title">
                                            Условия
                                        </h3>
                                        <ul class="about__vacancies-accordion-list">
                                            <li class="about__vacancies-accordion-list-item">
                                                Оформление по ТК РФ
                                            </li>
                                            <li class="about__vacancies-accordion-list-item">
                                                40-часовая рабочая неделя с графиком 5/2
                                            </li>
                                        </ul>
                                    </div>
                                    <a href="#" class="btn">
                                        Оставить заявку
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="about__vacancies-accordion js-accordion" data-close-other="">
                        <button class="about__vacancies-accordion-btn js-accordion-btn" type="button">
                            <span class="about__vacancies-accordion-btn-text">
                                Бухгалтер
                            </span>
                            <span class="about__vacancies-accordion-btn-arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#accordion-arrow"></use>
                                </svg>
                            </span>
                        </button>
                        <div class="about__vacancies-accordion-content js-accordion-content">
                            <div class="about__vacancies-accordion-content-inner">
                                <div class="about__vacancies-accordion-blocks">
                                    <div class="about__vacancies-accordion-block">
                                        <ul class="about__vacancies-accordion-list">
                                            <li class="about__vacancies-accordion-list-item">
                                                Требуемый опыт работы: 3–6 лет
                                            </li>
                                            <li class="about__vacancies-accordion-list-item">
                                                Полная занятость, полный день
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="about__vacancies-accordion-block">
                                        <h3 class="about__vacancies-accordion-title">
                                            Обязанности
                                        </h3>
                                        <ul class="about__vacancies-accordion-list">
                                            <li class="about__vacancies-accordion-list-item">
                                                Опыт работы от 2 лет на разных участках бухгалтерии в сфере оказания
                                                услуг
                                            </li>
                                            <li class="about__vacancies-accordion-list-item">
                                                Высшее образование
                                            </li>
                                            <li class="about__vacancies-accordion-list-item">
                                                Знание 1С 8.3
                                            </li>
                                            <li class="about__vacancies-accordion-list-item">
                                                Обучаемость, ответственность, внимательность
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="about__vacancies-accordion-block">
                                        <h3 class="about__vacancies-accordion-title">
                                            Задачи
                                        </h3>
                                        <ul class="about__vacancies-accordion-list">

                                            <li class="about__vacancies-accordion-list-item">
                                                Учет первичных документов и прохода / расхода
                                            </li>
                                            <li class="about__vacancies-accordion-list-item">
                                                Формирование и ведение книги покупок и продаж
                                            </li>
                                            <li class="about__vacancies-accordion-list-item">
                                                Акты сверок с поставщиками / покупателями
                                            </li>
                                            <li class="about__vacancies-accordion-list-item">
                                                Работа в банк-клиенте
                                            </li>
                                            <li class="about__vacancies-accordion-list-item">
                                                Начисление заработной платы
                                            </li>
                                            <li class="about__vacancies-accordion-list-item">
                                                Кадровое делопроизводство
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="about__vacancies-accordion-block">
                                        <h3 class="about__vacancies-accordion-title">
                                            Условия
                                        </h3>
                                        <ul class="about__vacancies-accordion-list">
                                            <li class="about__vacancies-accordion-list-item">
                                                Оформление по ТК РФ
                                            </li>
                                            <li class="about__vacancies-accordion-list-item">
                                                40-часовая рабочая неделя с графиком 5/2
                                            </li>
                                        </ul>
                                    </div>
                                    <a href="#" class="btn">
                                        Оставить заявку
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="about__vacancies-accordion js-accordion" data-close-other="">
                        <button class="about__vacancies-accordion-btn js-accordion-btn" type="button">
                            <span class="about__vacancies-accordion-btn-text">
                                Экономист
                            </span>
                            <span class="about__vacancies-accordion-btn-arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#accordion-arrow"></use>
                                </svg>
                            </span>
                        </button>
                        <div class="about__vacancies-accordion-content js-accordion-content">
                            <div class="about__vacancies-accordion-content-inner">
                                <div class="about__vacancies-accordion-blocks">
                                    <div class="about__vacancies-accordion-block">
                                        <ul class="about__vacancies-accordion-list">
                                            <li class="about__vacancies-accordion-list-item">
                                                Требуемый опыт работы: 3–6 лет
                                            </li>
                                            <li class="about__vacancies-accordion-list-item">
                                                Полная занятость, полный день
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="about__vacancies-accordion-block">
                                        <h3 class="about__vacancies-accordion-title">
                                            Обязанности
                                        </h3>
                                        <ul class="about__vacancies-accordion-list">
                                            <li class="about__vacancies-accordion-list-item">
                                                Опыт работы от 2 лет на разных участках бухгалтерии в сфере оказания
                                                услуг
                                            </li>
                                            <li class="about__vacancies-accordion-list-item">
                                                Высшее образование
                                            </li>
                                            <li class="about__vacancies-accordion-list-item">
                                                Знание 1С 8.3
                                            </li>
                                            <li class="about__vacancies-accordion-list-item">
                                                Обучаемость, ответственность, внимательность
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="about__vacancies-accordion-block">
                                        <h3 class="about__vacancies-accordion-title">
                                            Задачи
                                        </h3>
                                        <ul class="about__vacancies-accordion-list">

                                            <li class="about__vacancies-accordion-list-item">
                                                Учет первичных документов и прохода / расхода
                                            </li>
                                            <li class="about__vacancies-accordion-list-item">
                                                Формирование и ведение книги покупок и продаж
                                            </li>
                                            <li class="about__vacancies-accordion-list-item">
                                                Акты сверок с поставщиками / покупателями
                                            </li>
                                            <li class="about__vacancies-accordion-list-item">
                                                Работа в банк-клиенте
                                            </li>
                                            <li class="about__vacancies-accordion-list-item">
                                                Начисление заработной платы
                                            </li>
                                            <li class="about__vacancies-accordion-list-item">
                                                Кадровое делопроизводство
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="about__vacancies-accordion-block">
                                        <h3 class="about__vacancies-accordion-title">
                                            Условия
                                        </h3>
                                        <ul class="about__vacancies-accordion-list">
                                            <li class="about__vacancies-accordion-list-item">
                                                Оформление по ТК РФ
                                            </li>
                                            <li class="about__vacancies-accordion-list-item">
                                                40-часовая рабочая неделя с графиком 5/2
                                            </li>
                                        </ul>
                                    </div>
                                    <a href="#" class="btn">
                                        Оставить заявку
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="about__vacancies-accordion js-accordion" data-close-other="">
                        <button class="about__vacancies-accordion-btn js-accordion-btn" type="button">
                            <span class="about__vacancies-accordion-btn-text">
                                Офис-менеджер
                            </span>
                            <span class="about__vacancies-accordion-btn-arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#accordion-arrow"></use>
                                </svg>
                            </span>
                        </button>
                        <div class="about__vacancies-accordion-content js-accordion-content">
                            <div class="about__vacancies-accordion-content-inner">
                                <div class="about__vacancies-accordion-blocks">
                                    <div class="about__vacancies-accordion-block">
                                        <ul class="about__vacancies-accordion-list">
                                            <li class="about__vacancies-accordion-list-item">
                                                Требуемый опыт работы: 3–6 лет
                                            </li>
                                            <li class="about__vacancies-accordion-list-item">
                                                Полная занятость, полный день
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="about__vacancies-accordion-block">
                                        <h3 class="about__vacancies-accordion-title">
                                            Обязанности
                                        </h3>
                                        <ul class="about__vacancies-accordion-list">
                                            <li class="about__vacancies-accordion-list-item">
                                                Опыт работы от 2 лет на разных участках бухгалтерии в сфере оказания
                                                услуг
                                            </li>
                                            <li class="about__vacancies-accordion-list-item">
                                                Высшее образование
                                            </li>
                                            <li class="about__vacancies-accordion-list-item">
                                                Знание 1С 8.3
                                            </li>
                                            <li class="about__vacancies-accordion-list-item">
                                                Обучаемость, ответственность, внимательность
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="about__vacancies-accordion-block">
                                        <h3 class="about__vacancies-accordion-title">
                                            Задачи
                                        </h3>
                                        <ul class="about__vacancies-accordion-list">

                                            <li class="about__vacancies-accordion-list-item">
                                                Учет первичных документов и прохода / расхода
                                            </li>
                                            <li class="about__vacancies-accordion-list-item">
                                                Формирование и ведение книги покупок и продаж
                                            </li>
                                            <li class="about__vacancies-accordion-list-item">
                                                Акты сверок с поставщиками / покупателями
                                            </li>
                                            <li class="about__vacancies-accordion-list-item">
                                                Работа в банк-клиенте
                                            </li>
                                            <li class="about__vacancies-accordion-list-item">
                                                Начисление заработной платы
                                            </li>
                                            <li class="about__vacancies-accordion-list-item">
                                                Кадровое делопроизводство
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="about__vacancies-accordion-block">
                                        <h3 class="about__vacancies-accordion-title">
                                            Условия
                                        </h3>
                                        <ul class="about__vacancies-accordion-list">
                                            <li class="about__vacancies-accordion-list-item">
                                                Оформление по ТК РФ
                                            </li>
                                            <li class="about__vacancies-accordion-list-item">
                                                40-часовая рабочая неделя с графиком 5/2
                                            </li>
                                        </ul>
                                    </div>
                                    <a href="#" class="btn">
                                        Оставить заявку
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>