.btn {
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.2rem;
  padding: 2.4rem 4.8rem;
  border-radius: 4rem;
  background-color: var(--primary-color);
  align-self: flex-start;
  user-select: none;
  flex-shrink: 0;
  color: white;
  text-align: center;
  transition: background-color 0.2s, color 0.2s;
  &:link,
  &:visited {
    color: white;
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--primary-color-hover);
    }
  }

  &:active {
    background-color: var(--primary-color-active);
  }

  @include breakpoint(small-tablet) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.4rem;
    padding: 1.2rem 2.4rem;
  }
}
