.contacts {
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
  padding-top: 16rem;
  gap: 6.4rem;
  margin-bottom: 12.8rem;
  position: relative;
  z-index: 1;

  @include breakpoint(mobile) {
    gap: 3.2rem;
    padding-top: 9.6rem;
    margin-bottom: 6.4rem;
  }

  &::before {
    content: "";
    width: 150rem;
    height: 150rem;
    position: absolute;
    z-index: -1;
    pointer-events: none;
    right: 0;
    top: 0;
    background-image: url("../images/red-blurred-circle.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-50%) translateX(50%) scale(1.5);

    @include breakpoint(tablet) {
      transform: translateY(-50%) translateX(50%) scale(1);
    }
  }
}

.contacts__top {
  @include blockWrapper;
}

.contacts__top-content {
  @include blockContent;
}

.contacts__heading {
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 800;
  line-height: 7.6rem;
  margin-top: 0.8rem;
  @include breakpoint(tablet) {
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 800;
    line-height: 5.6rem;
  }

  @include breakpoint(small-tablet) {
    font-size: 4rem;
    font-style: normal;
    font-weight: 800;
    line-height: 4.8rem;
  }

  @include breakpoint(mobile) {
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 800;
    line-height: 5.6rem;
  }
}

.contacts__bottom {
  @include blockWrapper;
  background-color: #fff;
  border-radius: 6.4rem;
  padding-top: 6.4rem;
  padding-bottom: 12.8rem;
  color: black;

  @include breakpoint(small-tablet) {
    border-radius: 3.2rem;
  }

  @include breakpoint(mobile) {
    border-radius: 3.2rem;
    padding-bottom: 6.4rem;
    padding-top: 3.2rem;
  }
}

.contacts__bottom-content {
  @include blockContent;
}

.contacts__bottom-row {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 2.5rem;

  @include breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    gap: 6.4rem;
  }
}

.contacts__col {
  display: flex;
  flex-direction: column;
  gap: 6.4rem;

  @include breakpoint(mobile) {
    display: contents;
  }
}

.contacts__item {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.contacts__item-heading {
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4rem;

  @include breakpoint(mobile) {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.2rem;
  }
}

.contacts__item-list {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.contacts__item-key {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.8rem;
  color: rgba(15, 16, 20, 0.64);
}

.contacts__item-value {
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3.2rem;

  &--red {
    color: var(--primary-color);
    &:link,
    &:visited {
      color: var(--primary-color);
    }
  }

  @media (hover: hover) {
    &[href] {
      text-decoration: underline;
      text-decoration-color: transparent;
      transition: color 0.2s, text-decoration-color 0.2s;
      &:hover {
        text-decoration-color: currentColor;
      }
    }
  }

  @include breakpoint(mobile) {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.8rem;
  }
}

.contacts__map {
  position: relative;
  border-radius: 3.2rem;
  overflow: hidden;
  margin-top: 12.8rem;
  &::before {
    content: "";
    display: block;
    padding-bottom: 52%;

    @include breakpoint(mobile) {
      padding-bottom: 100%;
    }
  }

  @include breakpoint(mobile) {
    margin-top: 6.4rem;
  }
}

.contacts__map-element {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
}
