.page-header {
  @include blockWrapper;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 70;
  color: white;
}

.page-header__content {
  @include blockContent;
  display: flex;
  align-items: center;
  height: 9.6rem;
  gap: 3rem;
  position: relative;

  @include breakpoint(tablet) {
    gap: 1.2rem;
  }
}

.page-header__logo {
  flex-shrink: 0;

  @include breakpoint(tablet) {
    margin-right: auto;
  }
}

.page-header__logo-image {
  display: block;
  width: 16.6rem;
  height: auto;
}

.page-header__menu {
  margin: 0 auto;
  align-self: stretch;
  display: flex;
  flex-direction: column;

  @include breakpoint(tablet) {
    margin: 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    -webkit-overflow-scrolling: touch;
    z-index: 70;
    background-color: #07070a;
    color: white;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0s linear 0.4s;
    overscroll-behavior-y: contain;
    overflow-y: auto;
    background-image: url("../images/menu-blue-blur.svg"),
      url("../images/menu-red-blur.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, right top;
    background-size: 70rem auto, 70rem auto;

    @include blockWrapper;

    body:not(.loaded) & {
      display: none;
    }

    .menu-open & {
      opacity: 1;
      visibility: inherit;
      transition: opacity 0.4s, visibility 0.4s;
    }
  }
}

.page-header__menu-top-row {
  display: none;

  @include breakpoint(tablet) {
    display: flex;
    align-items: center;
    margin-bottom: 3.2rem;
    height: 9.6rem;
  }
}

.page-header__menu-inner {
  display: contents;
  @include breakpoint(tablet) {
    @include blockContent;
    display: flex;
    flex-direction: column;
  }
}

.page-header__nav {
  align-self: stretch;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  @include breakpoint(tablet) {
    margin-bottom: 4rem;
  }
}

.page-header__nav-list {
  display: flex;
  gap: 3.2rem;
  flex-wrap: wrap;
  flex-grow: 1;

  @include breakpoint(tablet) {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 3.2rem;
    flex-grow: 0;
  }
}

.page-header__nav-list-item {
  display: flex;
  flex-direction: column;

  @include breakpointMF(laptop) {
    &:hover {
      .page-header__nav-link {
        color: #d2ab49;
      }

      .page-header__nav-dropdown {
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.4s, visibility 0.4s;
      }
    }
  }
}

.page-header__nav-link {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  transition: color 0.2s;

  @include breakpoint(tablet) {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.2rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;

    .page-header__nav-list-item.active & {
      color: #d2ab49;
    }
  }
}

.page-header__nav-link-icon {
  display: none;

  @include breakpoint(tablet) {
    flex-shrink: 0;
    display: grid;
    place-items: center;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(1.6rem);

    svg {
      width: 1.6rem;
      height: 1.6rem;
      fill: white;
      transition: transform 0.2s;
    }

    .page-header__nav-list-item.active & {
      svg {
        transform: rotate(180deg);
      }
    }
  }
}

.page-header__nav-dropdown {
  @include breakpointMF(laptop) {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 50;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0s linear 0.4s;
  }

  @include breakpoint(tablet) {
    height: 0;
    overflow: hidden;
  }
}

.page-header__nav-dropdown-inner {
  @include breakpointMF(laptop) {
    padding: 4.8rem;
    border-radius: 3.2rem;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    color: #0f1014;
    max-width: 83.2rem;
    margin: 0 auto;
  }
}

.page-header__nav-dropdown-content {
  display: contents;
  @include breakpoint(tablet) {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding-top: 2.4rem;
    padding-bottom: 3.2rem;
  }
}

.page-header__nav-services-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 0.8rem;
}

.page-header__nav-services-list-item {
  display: flex;
  flex-direction: column;
}

.page-header__nav-services-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-radius: 1.6rem;
  background: #f5f5f6;
  padding: 1.2rem;
  gap: 0.8rem;

  @include breakpoint(tablet) {
    background-color: #1c1c1f;
  }
}

.page-header__nav-services-card-icon {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
}

.page-header__nav-services-card-title {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;
  margin-top: auto;
}

.page-header__nav-submenu-list {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.page-header__nav-submenu-link {
  display: block;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;

  @media (hover: hover) {
    &:hover {
      color: #d2ab49;
    }
  }
}

.page-header__nav-submenu-row {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 4.8rem;
  align-items: flex-start;

  @include breakpoint(tablet) {
    grid-gap: 0.8rem;
  }
}

.page-header__phone-link {
  flex-shrink: 0;
  padding: 1.2rem 2.4rem;
  border-radius: 2.4rem;
  border: 1px solid rgba(255, 255, 255, 0.32);
  gap: 0.8rem;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  display: flex;
  align-items: center;

  svg {
    width: 2.4rem;
    height: 2.4rem;
    fill: white;
    transition: fill 0.2s;
  }
}

.page-header__burger {
  display: none;

  @include breakpoint(tablet) {
    flex-shrink: 0;
    width: 7.2rem;
    height: 4.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    border-radius: 2.4rem;
    border: 1px solid rgba(255, 255, 255, 0.32);

    & > span {
      width: 2rem;
      height: 0.2rem;
      background-color: white;
      transition: transform 0.2s, opacity 0.2s;
      border-radius: 0.2rem;
    }
  }

  &--active {
    & > span {
      &:nth-child(1) {
        transform: translateY(0.6rem) rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: translateY(-0.6rem) rotate(-45deg);
      }
    }
  }
}

.page-header__menu-bottom {
  display: none;

  @include breakpoint(tablet) {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 0.8rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-top: auto;
    position: relative;

    z-index: 1;

    &::after {
      content: "";
      background-color: rgba(255, 255, 255, 0.16);
      position: absolute;
      width: 100vw;
      width: 100svw;
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
      top: 0;
    }
  }
}

.page-header__menu-left-col {
  display: flex;
  flex-direction: column;
}

.page-header__menu-address {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}

.page-header__menu-schedule {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  color: rgba(255, 255, 255, 0.64);
  margin-top: 0.4rem;
}

.page-header__menu-map {
  display: flex;
  align-items: center;
  align-self: flex-start;
  gap: 0.4rem;
  padding: 0.8rem 1.2rem;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem;
  border-radius: 2.4rem;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(1.6rem);
  margin-top: 1.2rem;
  svg {
    flex-shrink: 0;
    width: 1.6rem;
    height: 1.6rem;
    fill: currentColor;
  }
}

.page-header__menu-links {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.page-header__menu-callback-link {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.4rem;
  text-align: center;
  display: block;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4rem;
  border: 1px solid rgba(255, 255, 255, 0.32);
  padding: 1.2rem 2.4rem;
  &:link,
  &:visited {
    color: white;
  }
}

.page-header__menu-phone-link {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.4rem;
  text-align: center;
  display: block;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4rem;
  border: 1px solid #741239;
  padding: 1.2rem 2.4rem;
  background: #741239;
  gap: 0.8rem;
  &:link,
  &:visited {
    color: white;
  }

  svg {
    flex-shrink: 0;
    width: 2.4rem;
    height: 2.4rem;
    fill: currentColor;
  }
}
